<template>	
    <!-- Content Wrapper. Contains page content -->
	  <div class="wrapper" v-if="user_data.length != 0">
	    <admin_header></admin_header>
	    <admin_sidebar></admin_sidebar>
	    <router-view></router-view>
	    <admin_footer></admin_footer>
	  </div>

    <div class="wrapper" v-else>
      <admin_login></admin_login>
    </div>

   
</template>


<script type="text/javascript">
export default {
  data() {
    return {
      user_data: [],
    };
  },
  mounted() {
    loading();
    this.getUser();
      setTimeout(() => {
      close_loading();
    }, 1000);
    
  },
  methods: {

     getUser() {
      var url = base_url + "account/get_user";
      axios
        .post(url, {
          token: getCookie("csrf_cookie")
        })
        .then(response => {
          this.user_data = response.data.user_data;
          console.log(this.user_data.id)
        })
        .catch(function(error) {
          console.log(error);
        });
    },
   
    
  
  }
};
</script>

<!-- <script>
export default {
  mounted() {
    this.autocomplete = new google.maps.places.Autocomplete(
      (this.$refs.autocomplete),
      {types: ['geocode']}
    );

    this.autocomplete.addListener('place_changed', () => {
      let place = this.autocomplete.getPlace();
      let ac = place.address_components;
      let lat = place.geometry.location.lat();
      let lon = place.geometry.location.lng();
      let city = ac[0]["short_name"];

      console.log(`The user picked ${city} with the coordinates ${lat}, ${lon}`);
    });
  }
}
</script> -->

