<template>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <section class="content-header">
      <h1>
         Manage Users
         <small>View List</small>
      </h1>
   </section>

   <!-- Main content -->
   <section class="content">
      <div class="row">
         <div class="col-md-12">
            <!-- Form Element sizes -->
            <div class="box box-success">
               <div class="box-header with-border">
                  <h3 class="box-title">List of Household Owners</h3>
               </div>
               <div class="box-body">
                  <div style="height: 30px;"></div>
                  <table id="tbl_users" class="table table-bordered table-striped table-responsive mt-3">
                     <thead>
                        <tr>
                           <th>Row</th>
                           <th>Name</th>
                           <th>Baranggay</th>
                           <th>Email</th>
                           <th>Role</th>
                           <th>Status</th>
                           <th>Date created</th>
                           <th>Actions</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                           <td>{{++index}}</td>
                           <td>{{val.first_name+' '+val.last_name}}</td>
                           <td>{{val.baranggay}}</td>
                           <td>{{val.email_address}}</td>
                           <td>{{val.role == 'Employer' ? "Household Owner" : val.role}}</td>
                           <td v-if="val.status=='Active'">
                              <span class="label label-success">Active</span>
                           </td>
                           <td v-else>
                              <span class="label label-danger">Inactive</span>
                           </td>
                           <td>{{val.created_at ? val.created_at : 'N/A'}}</td>
                           <td>
                              <div class="dropdown">
                                 <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    Show Actions
                                    <span class="caret"></span>
                                 </button>
                                 <ul class="dropdown-menu">
                                    <!-- <li>
                            <a href="javascript:void(0)" @click="edit(val.id)">Edit</a>
                          </li> -->
                                    <li v-if="val.status=='Active'">
                                       <a href="javascript:void(0)" @click="changeStatus(val.id,val.status)">Lock</a>
                                    </li>
                                    <li v-else>
                                       <a href="javascript:void(0)" @click="changeStatus(val.id,val.status)">Activate</a>
                                    </li>
                                    <li>
                                       <a href="javascript:void(0)" data-toggle="modal" data-target=".bd-example-modal-lg" @click="viewUser(index)">View User Profile</a>
                                    </li>
                                 </ul>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <!-- /.box-body -->
            </div>
            <!-- /.box -->
         </div>
      </div>
   </section>

   <section>

      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-lg">
            <div class="modal-content">

               <div class="modal-header">
                  <h3 class="modal-title text-primary" id="exampleModalLabel">User Profile</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">

                  <div class="site-section bg-light">
                     <form id="registration" method="POST" action="#" @submit.prevent="updateUser()">
                        <div class="row">
                           <div class="col-md-12">
                              <div class="form-group">
                                 <label for="">First name</label>
                                 <input type="text" id="registration_first_name" name="first_name" class="form-control" placeholder="First Name" v-model="userProfile.first_name" required />
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="form-group">
                                 <label for="">Last name</label>
                                 <input type="text" id="registration_last_name" class="form-control" placeholder="Last Name" v-model="userProfile.last_name" required />
                              </div>
                           </div>
                        </div>
                        <div class="row form-group">
                           <div class="col-md-12 mb-3 mb-md-0">
                              <label for="">Address</label>
                              <input type="text" id="registration_contact_number" class="form-control" placeholder="Full Address" v-model="userProfile.address" required />
                           </div>
                        </div>
                        <div class="row form-group">
                           <div class="col-md-12 mb-3 mb-md-0">
                              <label for="">Contact Number</label>
                              <input type="number" id="registration_contact_number" class="form-control" placeholder="Contact number" v-model="userProfile.contact_number" required />
                           </div>
                        </div>

                        <div class="row form-group">
                           <div class="col-md-12 mb-3 mb-md-0">
                              <label for="">Email address</label>
                              <input type="email" id="registration_email" class="form-control" placeholder="Email" v-model="userProfile.email_address" required />
                           </div>
                        </div>

                        <div class="row form-group">
                           <div class="col-md-12 mb-3 mb-md-0">
                              <label for="">Password</label>
                              <input type="password" id="registration_password" class="form-control" placeholder="Password" v-model="userProfile.password" required />
                           </div>
                        </div>

                        <div class="row form-group">
                           <div class="col-md-12 mb-3 mb-md-0">
                              <label for="">Role</label>
                              <select name="" id="" class="form-control" v-model="userProfile.role">
                                 <option value="Admin">Admin</option>
                                 <option value="Employer">Household Owner</option>
                                 <option value="Worker">Worker</option>
                              </select>
                           </div>
                        </div>
                        <div class="row form-group">
                           <div class="col-md-12 mb-3 mb-md-0">
                              <label for="">Status</label>
                              <select name="" id="" class="form-control" v-model="userProfile.status">
                                 <option value="Active">Active</option>
                                 <option value="Inactive">Inactive</option>
                              </select>
                           </div>
                        </div>
                        <div class="row" v-if="userProfile.role=='Worker'">
                           <div class="col-md-12 mb-3 mb-md-0">
                              <label for="">Resume</label>
                              <iframe :src="`${this.base_url+'assets/sample_resume.pdf'}`" width="100%" height="250"></iframe>
                           </div>
                        </div>
                        <div class="row" v-if="userProfile.role=='Worker'">
                           <div class="col-md-12 mb-3 mb-md-0">
                              <label for="">Valid Id:</label>
                              <img :src="`${this.base_url+'assets/sample_id.jpg'}`" class="img-responsive" />
                           </div>
                        </div>
                        <div class="row" v-if="userProfile.role=='Worker'">
                           <div class="col-md-12 mb-3 mb-md-0">
                              <label for="">Barangay Clearance:</label>
                              <img :src="`${this.base_url+'assets/barangay_clearance.jpg'}`" class="img-responsive" />
                           </div>
                        </div>
                        <div class="row ">
                           <div class="col-md-12 float-left">
                              <button type="submit" class="btn btn-primary btn-block mt-2">Update User</button>
                           </div>
                        </div>
                        <br />
                     </form>
                  </div>

               </div>
            </div>
         </div>
      </div>

   </section>

   <section>
      <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">Add Admin Account</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form id="registration" method="POST" action="#" @submit.prevent="register()">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="form-group">
                              <input type="text" id="registration_first_name" name="first_name" class="form-control" placeholder="First Name" v-model="registration_data.first_name" required />
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="form-group">
                              <input type="text" id="registration_last_name" class="form-control" placeholder="Last Name" v-model="registration_data.last_name" required />
                           </div>
                        </div>
                     </div>
                     <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                           <input type="text" id="registration_contact_number" class="form-control" placeholder="Full Address" v-model="registration_data.address" required />
                        </div>
                     </div>
                     <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                           <input type="number" id="registration_contact_number" class="form-control" placeholder="Contact number" v-model="registration_data.contact_number" required />
                        </div>
                     </div>

                     <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                           <input type="email" id="registration_email" class="form-control" placeholder="Email" v-model="registration_data.email" required />
                        </div>
                     </div>

                     <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                           <input type="password" id="registration_password" class="form-control" placeholder="Password" v-model="registration_data.password" required />
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-md-12 float-left">
                           <button type="submit" class="btn btn-primary btn-block">Add Admin</button>
                        </div>
                     </div>
                     <br />
                  </form>
               </div>
               <div class="modal-footer"></div>
            </div>
         </div>
      </div>
   </section>
</div>
</template>

<script>
export default {
   data() {
      return {
         rows: [],
         userIdLogged: "",
         userProfile: [],
         data: [
            "user_profile",
         ],
         current_profile: {
            first_name: "",
            last_name: "",
            middle_name: "",
            email_address: "",
            suffix_name: "",
            description: "",
            educational_attainment: "",
            profile_picture: "https://via.placeholder.com/150",
            resume: "",
            role: "",
            id: "",
         },
         registration_data: {
            first_name: "",
            middle_name: "",
            last_name: "",
            contact_number: "",
            email: "",
            password: "",
            role: "Admin"
         },
         base_url: base_url
      };
   },
   mounted() {
      loading();
      this.setTable();
      setTimeout(() => {
         close_loading();
      }, 1000);
   },
   methods: {
      updateUser() {
         const url = `${base_url}user_profile/update_user_profile`;
         axios
            .post(url, {
               token: getCookie("csrf_cookie"),
               user_profile: this.userProfile,
            })
            .then(result => {
               if (result.data.message == "Update Successfuly.") {
                  // var url = base_url;
                  notify2("Update Success", "", "success");
                  setTimeout(() => {
                     //location.reload()
                  }, 2000);
               }
            })
            .catch(function (error) {
               console.log(error);
            });
      },
      setTable() {
         const url = `${base_url}/user_management/get_all_owner`;
         axios
            .get(url)
            .then(response => {
               this.rows = response.data.users;
               setTimeout(() => {
                  $("#tbl_users").DataTable({
                     lengthMenu: [25, 50, 100],
                     columnDefs: [{
                        targets: [5],
                        orderable: false
                     }, ]
                  });
               });
            })
            .catch(function (error) {
               console.log(error);
            });
      },
      edit(email) {
         this.$router.push(`/edit_user/${escape(email).replace(/\//g, "$st")}`);
      },

      viewUser(index) {
         var tmp_index = index - 1;
         this.userProfile = this.rows[tmp_index]
      },
      changeStatus(id, status) {
         confirm_alert(
            "Are you sure?",
            "You won't be able to revert this! ",
            "warning"
         ).then(response => {
            const url = `${base_url}user_management/changeStatus`;
            axios
               .post(url, {
                  token: getCookie("csrf_cookie"),
                  id: id,
                  status: status
               })
               .then(response => {
                  location.reload();
               })
               .catch(function (error) {
                  console.log(error);
               });
         });
      },
      register() {
         var url = base_url + "account/adminRegistration";
         axios
            .post(url, {
               token: getCookie("csrf_cookie"),
               registration_data: this.registration_data,
            })
            .then(response => {
               if (response.data.message == "success") {
                  var url = base_url + "secure_admin#/view_users";
                  notify2("Registration Success", "", "success");
                  setTimeout(() => {
                     location.reload()
                  }, 2000)
               } else {
                  notify2(response.data.message, "", "error");
               }
            })
            .catch(function (error) {
               console.log(error);
            });
      }

   }
};
</script>
