<template>
<div class="login-box">
   <div class="login-logo">
      <a :href="base_url" class="text-primary"><b>Tap</b>HELPER</a>
   </div>
   <!-- /.login-logo -->
   <div class="login-box-body ">
      <p class="login-box-msg">Sign in </p>

      <form id="log_in" method="POST" action="#" @submit.prevent="login()">
         <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
               <input type="text" id="email" name="email" class="form-control" placeholder="Email or ID" v-model="login_data.email" required />
            </div>
         </div>

         <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
               <input type="password" id="passwword" name="passwword" class="form-control" placeholder="Password" v-model="login_data.password" required />
            </div>
         </div>

         <div>
            <img src="/assets/images/web_dev.png" alt="" width="250px">
         </div>

         <div class="row">
            <!-- /.col -->
            <div class="col-xs-12">
               <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>
            <!-- /.col -->
         </div>
      </form>

   </div>
   <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
</template>

<script>
export default {
   data() {
      return {
         base_url: base_url,
         login_data: {
            email: "",
            password: ""
         },
         test: ""
      };
   },
   computed: {},
   created() {},
   mounted() {},
   methods: {
      login() {
         const url = `${base_url}account/adminLogin`;
         axios
            .post(
               url, {
                  token: getCookie("csrf_cookie"),
                  login_data: this.login_data,
               }
            )
            .then(response => {
               if (response.data.message == "success") {
                  var url = base_url;
                  window.location = url + 'secure_admin';
               } else {
                  swal("Authentication Failed", "Invalid credentials", "error");
               }
            })
            .catch(function (error) {
               console.log(error);
            });
      },
   }
};
</script>
