<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manage Services
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">List of Services Posted</h3>
            </div>
            <div class="box-body">
              <table
                id="tbl_jobs"
                class="table table-bordered table-striped table-responsive"
              >
                <thead>
                  <tr>
                    <th>Row</th>
                    <th>Service</th>
                    <th>Household owner</th>
                    <th>Worker</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Date created</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(val, index) in rows"
                    :key="index"
                    :class="`row${index}`"
                  >
                    <td>{{ ++index }}</td>
                    <td>{{ val.job_title }}</td>

                    <td>{{ val.first_name + " " + val.last_name }}</td>
                    <td v-if="val.worker_id != null">
                      {{ val.worker_fname + " " + val.worker_lname }}
                    </td>
                    <td v-else>No assigned Worker</td>
                    <td>{{ val.address }}</td>
                    <td>
                      {{ val.status }}
                    </td>
                    <td>{{ val.created_at ? val.created_at : "N/A" }}</td>
                    <td>
                      <button
                        class="btn btn-primary"
                        type="button"
                        @click="viewJob(val)"
                      >
                        View
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <!-- Modal -->
      <div id="viewJobModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
              <h4 class="modal-title">Services Details</h4>
            </div>
            <div class="modal-body">
              <form
                id="jobpost"
                method="POST"
                action="#"
                @submit.prevent="updateJob()"
              >
                <div class="row form-group">
                  <div class="col-md-7 mb-3 mb-md-0">
                    <label class="font-weight-bold" for="job_title"
                      >Worker:
                    </label>
                    <p class="mb-0" v-if="jobpost_data.worker_id">
                      {{
                        jobpost_data.worker_fname +
                        " " +
                        jobpost_data.worker_lname
                      }}
                    </p>
                    <p class="mb-0" v-else>No assigned worker</p>
                    <p>{{ jobpost_data.worker_contact_number }}</p>
                  </div>

                  <div class="col-md-5 mb-3 mb-md-0">
                    <label class="font-weight-bold" for="job_title"
                      >Status:
                    </label>
                    <select
                      name=""
                      id=""
                      class="form-control"
                      v-model="jobpost_data.status"
                    >
                      <option value="Pending">Pending</option>
                      <option value="Confirmed">Confirmed</option>
                      <option value="On Process">On Process</option>
                      <option value="Completed">Completed</option>
                      <option value="Cancelled">Cancelled</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mb-3 mb-md-0">
                    <label class="font-weight-bold" for="job_title"
                      >Employer:
                    </label>
                    <p class="mb-0" v-if="jobpost_data.user_id">
                      {{
                        jobpost_data.first_name + " " + jobpost_data.last_name
                      }}
                    </p>
                    <p>{{ jobpost_data.contact_number }}</p>
                  </div>
                </div>
                <div>
                  <div class="row form-group">
                    <div class="col-md-12 mb-3 mb-md-0">
                      <label class="font-weight-bold" for="description"
                        >Feedback:</label
                      >
                      <textarea
                        type="text"
                        id="description"
                        class="form-control"
                        v-model="jobpost_data.feedback"
                        rows="5"
                      ></textarea>
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-md-12 mb-3 mb-md-0">
                      <star-rating
                        v-model="jobpost_data.rating"
                        :increment="1"
                        :star-size="20"
                      ></star-rating>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                    <label class="font-weight-bold" for="job_title"
                      >I need help on:
                    </label>
                    <input
                      type="text"
                      id="job_title"
                      class="form-control mt-2"
                      v-model="jobpost_data.job_title"
                    />
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                    <label class="font-weight-bold" for="location"
                      >Where will your task be?</label
                    >
                    <input
                      type="text"
                      id="location"
                      class="form-control mt-2"
                      placeholder="Full Address"
                      v-model="jobpost_data.address"
                    />
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                    <label class="font-weight-bold" for="location"
                      >Landmark:</label
                    >
                    <input
                      type="text"
                      id="location"
                      class="form-control mt-2"
                      placeholder="Full Address"
                      v-model="jobpost_data.landmark"
                    />
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-6 mb-3 mb-md-0">
                    <label class="font-weight-bold" for="location"
                      >Offer:</label
                    >
                    <input
                      type="text"
                      id="location"
                      class="form-control"
                      placeholder="Service Fee"
                      v-model="jobpost_data.service_fee"
                    />
                  </div>
                  <div class="col-md-6 mb-3 mb-md-0">
                    <label class="font-weight-bold" for="location">Rate:</label>
                    <select
                      name=""
                      id=""
                      class="form-control"
                      v-model="jobpost_data.rate"
                    >
                      <option value="Hourly">Hourly</option>
                      <option value="Daily">Daily</option>
                      <option value="Once the job is done">
                        Once the job is done
                      </option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="font-weight-bold">Preferred ETA:</label>
                      <input
                        type="text"
                        v-model="jobpost_data.prefer_date"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="font-weight-bold">Expires at:</label>
                      <input
                        type="text"
                        v-model="jobpost_data.expiry"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="font-weight-bold"
                        >Age/Gender/etc:
                        <span style="color: red">*</span></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        v-model="jobpost_data.gender"
                      />
                    </div>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                    <label class="font-weight-bold" for="description"
                      >Instructions</label
                    >
                    <textarea
                      type="text"
                      id="description"
                      class="form-control"
                      v-model="jobpost_data.job_description"
                      rows="7"
                    ></textarea>
                  </div>
                </div>
                <img
                  :src="`${base_url + jobpost_data.image}`"
                  alt=""
                  v-if="jobpost_data.image != ''"
                  class="img-fluid d-block mx-auto mb-2"
                />
                <div class="row form-group">
                  <div class="col-md-12">
                    <input
                      type="submit"
                      value="Update Service Offer"
                      class="btn btn-primary py-2 px-5 w-100"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import StarRating from "vue-star-rating";
export default {
  components: {
    StarRating,
  },
  data() {
    return {
      rows: [],
      jobpost_data: [],
      base_url: "",
      user_data: [],
    };
  },
  mounted() {
    loading();
    this.setTable();
    setTimeout(() => {
      close_loading();
    }, 1000);
  },
  methods: {
    updateJob() {
      var url = base_url + "jobs/update_job";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          jobpost_data: this.jobpost_data,
        })
        .then((response) => {
          notify2("Successfully Updated", "", "success");
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    setTable() {
      const url = `${base_url}job_management/get_all_job`;
      axios
        .get(url)
        .then((response) => {
          console.log(response);
          this.rows = response.data.jobs;
          setTimeout(() => {
            $("#tbl_jobs").DataTable({
              lengthMenu: [25, 50, 100],
              columnDefs: [
                {
                  targets: [7],
                  orderable: false,
                },
              ],
            });
          });
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    viewJob(job) {
      var tmp_job = job;
      this.jobpost_data = tmp_job;
      this.jobpost_data.rating = parseInt(this.jobpost_data.rating);
      setTimeout(() => {
        $("#viewJobModal").modal("show");
      });
    },
    // edit(email) {
    //   this.$router.push(`/edit_user/${escape(email).replace(/\//g, "$st")}`);
    // },
    // deleteUser(email) {
    //   confirm_alert(
    //     "Are you sure?",
    //     "You won't be able to revert this! ",
    //     "warning"
    //   ).then(response => {
    //     const url = `${base_url}users_api/delete`;
    //     axios
    //       .post(url, {
    //         token: getCookie("csrf_cookie"),
    //         email: email
    //       })
    //       .then(response => {
    //         location.reload();
    //       })
    //       .catch(function(error) {
    //         console.log(error);
    //       });
    //   });
    // },
    changeStatus(id, status) {
      confirm_alert(
        "Are you sure?",
        "You won't be able to revert this! ",
        "warning"
      ).then((response) => {
        const url = `${base_url}user_management/changeStatus`;
        axios
          .post(url, {
            token: getCookie("csrf_cookie"),
            id: id,
            status: status,
          })
          .then((response) => {
            location.reload();
          })
          .catch(function (error) {
            console.log(error);
          });
      });
    },
  },
};
</script>
