div#result, #result2 p{
   text-align: center;
   color: red;
   font-size: 12px;
   margin-bottom: 10px;
}
.login-box .checkbox {
  margin-top: 0px;
}

.skin-blue .main-header .logo,.skin-blue .main-header .logo:hover{
  background: transparent;
}

.logo-lg img {
  margin-top: 5px;
  height:40px;
  display:block;
  margin:0 auto;
}

.logo-mini img {
  height: 35px !important;
 margin: 0 auto;
 margin-top: 5px;
}

table th, table td {
  text-align: center;
}
@media (max-width: 997px){
  .table-responsive {
     display: block;
  }
}

.sidebar-menu li a img {
      margin-left: -10px;
}

.main-header .logo-lg{
  margin-top: 5px;
}