/* @extend display-flex; */
display-flex,
.display-flex,
.display-flex-center,
.signup-content,
.signin-content,
.social-login,
.socials {
	display: flex;
	display: -webkit-flex;
}

/* @extend list-type-ulli; */
list-type-ulli,
.socials {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Lato';
}

.authentication a:focus,
a:active {
	text-decoration: none;
	outline: none;
	transition: all 300ms ease 0s;
	-moz-transition: all 300ms ease 0s;
	-webkit-transition: all 300ms ease 0s;
	-o-transition: all 300ms ease 0s;
	-ms-transition: all 300ms ease 0s;
}

.authentication {
	margin: 50px auto;
}


.authentication img {
	max-width: 100%;
	height: auto;
}

.authentication figure {
	margin: 0;
}

.authentication p {
	margin-bottom: 0px;
	font-size: 15px;
	color: #777;
}

.authentication h2 {
	line-height: 1.66;
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #222;
	font-family: 'Lato';
	font-size: 36px;
}

.authentication .main {
	background: #f8f8f8;
	padding: 150px 0;
}

.authentication .clear {
	clear: both;
}

.authentication body {
	font-size: 13px;
	line-height: 1.8;
	color: #222;
	background: #f8f8f8;
	font-weight: 400;
	font-family: 'Lato';
}

.authentication .container {
	width: 900px;
	background: #fff;
	margin: 0 auto;
	box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.08);
	-o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.08);
	-ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	-ms-border-radius: 20px;
}

.authentication .display-flex {
	justify-content: space-between;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-o-justify-content: space-between;
	-ms-justify-content: space-between;
	align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
}

.authentication .display-flex-center {
	justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
}

.authentication .position-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.authentication .signup {
	display: none;
	margin-bottom: 150px;
}

.authentication .signup-content {
	padding: 75px 0;
}

.authentication .signup-form,
.signup-image,
.signin-form,
.signin-image {
	width: 50%;
	overflow: hidden;
}

.authentication .signup-image {
	margin: 0 55px;
}

.authentication .form-title {
	margin-bottom: 20px;
}

.authentication .signup-image {
	margin-top: 45px;
}

.authentication figure {
	margin-bottom: 50px;
	text-align: center;
}

.authentication .form-submit {
	border: none;
	display: inline-block;
	background: #cf1964;
	color: #fff;
	border-bottom: none;
	width: 100%;
	padding: 15px 39px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	margin-top: 25px;
	margin-bottom: 10px;
	cursor: pointer;
}

.form-submit:hover {
	background: #ad1453;
}



.authentication #signin {
	margin-top: 16px;
}

.authentication .signup-image-link {
	font-size: 14px;
	color: #222;
	display: block;
	text-align: center;
	background: #e29922;
	color: white;
	margin-top: 10px;
	padding: 15px 17px;
	margin-top: 0px;
}

.authentication .signin-image-link {
	display: none;
	font-size: 14px;
	color: #222;
	text-align: center;
}

.authentication .term-service {
	font-size: 13px;
	color: #222;
}

.authentication .signup-form {
	display: none;
	margin-left: 80px;
	margin-right: 90px;
}

.authentication .register-form {
	width: 100%;
}

.authentication .form-group {
	position: relative;
	margin-bottom: 15px;
	overflow: hidden;
}

.form-group:last-child {
	margin-bottom: 0px;
}

.authentication input {
	width: 100%;
	display: block;
	font-family: 'Lato';
	box-sizing: border-box;
}

input::-webkit-input-placeholder {
	color: #999;
}

input::-moz-placeholder {
	color: #999;
}

input:-ms-input-placeholder {
	color: #999;
}

input:-moz-placeholder {
	color: #999;
}

input:focus {
	border-bottom: 1px solid #222;
}

input:focus::-webkit-input-placeholder {
	color: #222;
}

input:focus::-moz-placeholder {
	color: #222;
}

input:focus:-ms-input-placeholder {
	color: #222;
}

input:focus:-moz-placeholder {
	color: #222;
}


.authentication label {
	color: #222;
}

.authentication .label-has-error {
	top: 22%;
}



.authentication .material-icons-name {
	font-size: 18px;
}

.authentication .signin-content {
	padding-top: 67px;
	padding-bottom: 87px;
}

.authentication .social-login {
	align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	margin-top: 15px;
}

.authentication .social-label {
	display: inline-block;
	margin-right: 15px;
}

.authentication .socials li {
	padding: 5px;
}

.authentication .socials li:last-child {
	margin-right: 0px;
}

.authentication .socials li a {
	text-decoration: none;
}

.authentication .socials li a i {
	width: 30px;
	height: 30px;
	color: #fff;
	font-size: 14px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	transform: translateZ(0);
	-moz-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	-o-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.authentication .socials li:hover a i {
	-webkit-transform: scale(1.3) translateZ(0);
	transform: scale(1.3) translateZ(0);
}

.authentication .fa-facebook {
	background: #3b5998;
}

.authentication .fa-twitter {
	background: #1da0f2;
}

.authentication .fa-google {
	background: #e72734;
}

.authentication .signin-form {
	margin-right: 90px;
	margin-left: 80px;
}

.authentication .signin-image {
	margin-left: 110px;
	margin-right: 20px;
	margin-top: 10px;
}

.login_link2 {
	background: #e29922 !important;
	color:white !important;
	margin-top: 0px !important;
}

@media screen and (max-width: 1200px) {
	.authentication .container {
		width: calc(100% - 30px);
		max-width: 100%;
	}
}

@media screen and (min-width: 1024px) {
	.authentication .container {
		max-width: 1200px;
	}
}

@media screen and (max-width: 768px) {

	.authentication .signup-content,
	.signin-content {
		flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
		justify-content: center;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-o-justify-content: center;
		-ms-justify-content: center;
	}

	.authentication .signup-form {
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		/* box-sizing: border-box; */
		padding: 0 30px;
	}

	.authentication .signin-image {
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 50px;
		order: 2;
		-moz-order: 2;
		-webkit-order: 2;
		-o-order: 2;
		-ms-order: 2;
	}

	.authentication .signup-form,
	.signup-image,
	.signin-form,
	.signin-image {
		width: auto;
	}

	.authentication .social-login {
		justify-content: center;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-o-justify-content: center;
		-ms-justify-content: center;
	}

	.authentication .form-button {
		text-align: center;
	}

	.authentication .signin-form {
		order: 1;
		-moz-order: 1;
		-webkit-order: 1;
		-o-order: 1;
		-ms-order: 1;
		margin-right: 0px;
		margin-left: 0px;
		padding: 0 30px;
	}

	.authentication .form-title {
		text-align: center;
	}
}

@media screen and (max-width: 400px) {
	.authentication .social-login {
		flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
	}

	.authentication .social-label {
		margin-right: 0px;
		margin-bottom: 10px;
	}
}

.remember_me_container {
	margin-bottom: 0px !important;
}

.terms {
	color: #a3a3a3;
	font-size: 10px;
	text-align: center;
}

.authentication .agree-term {
	width: auto;
	display: inline-block;
}

/*# sourceMappingURL=style.css.map */
