<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small></small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><img src="assets/images/White/150x150/orders.png"></span>

            <div class="info-box-content">
              <span class="info-box-text">Orders</span>
              <span class="info-box-number" v-html="num_orders"></span>
            </div> -->
        <!-- /.info-box-content -->
        <!-- </div> -->
        <!-- /.info-box -->
        <!-- </div> -->
        <!-- /.col -->
        <router-link :to="{ name: '/services_posted' }" class>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-green"
                ><img src="assets/images/White/150x150/White-18.png"
              /></span>

              <div class="info-box-content">
                <span class="info-box-text">Services Posted</span>
                <span class="info-box-number" v-html="num_jobs"></span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
        </router-link>
        <router-link :to="{ name: '/view_job_category' }" class>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"
              ><img src="assets/images/White/150x150/White-15.png"
            /></span>

            <div class="info-box-content">
              <span class="info-box-text">Services Categories</span>
              <span class="info-box-number" v-html="num_job_categories"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        </router-link>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <!-- <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><img src="assets/images/White/150x150/sales.png"></span>

            <div class="info-box-content">
              <span class="info-box-text">Total Sales</span>
              <span class="info-box-number" v-html="num_sales"></span>
            </div>
          </div>
        </div> -->
        <!-- /.col -->
        <router-link :to="{ name: '/household' }" class>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"
              ><img src="assets/images/White/150x150/users.png"
            /></span>

            <div class="info-box-content">
              <span class="info-box-text">Household Owners</span>
              <span class="info-box-number" v-html="num_users_household"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        </router-link>
        <router-link :to="{ name: '/workers' }" class>

        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-blue"
              ><img src="assets/images/White/150x150/users.png"
            /></span>

            <div class="info-box-content">
              <span class="info-box-text">Workers</span>
              <span class="info-box-number" v-html="num_users_workers"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        </router-link>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-md-12">
          <!-- Bar chart -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-bar-chart-o"></i>

              <h3 class="box-title">Services Chart</h3>

              <div class="box-tools pull-right">
                <button
                  type="button"
                  class="btn btn-box-tool"
                  data-widget="collapse"
                >
                  <i class="fa fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-box-tool"
                  data-widget="remove"
                >
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <div id="bar-chart" style="height: 300px"></div>
            </div>
            <!-- /.box-body-->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- Bar chart -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-bar-chart-o"></i>

              <h3 class="box-title">Worker Gender Chart</h3>

              <div class="box-tools pull-right">
                <button
                  type="button"
                  class="btn btn-box-tool"
                  data-widget="collapse"
                >
                  <i class="fa fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-box-tool"
                  data-widget="remove"
                >
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <div id="worker-gender-chart" style="height: 300px"></div>
            </div>
            <!-- /.box-body-->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- Bar chart -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-bar-chart-o"></i>

              <h3 class="box-title">Household Owners Gender Chart</h3>

              <div class="box-tools pull-right">
                <button
                  type="button"
                  class="btn btn-box-tool"
                  data-widget="collapse"
                >
                  <i class="fa fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-box-tool"
                  data-widget="remove"
                >
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <div id="household-gender-chart" style="height: 300px"></div>
            </div>
            <!-- /.box-body-->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      num_job_categories: 0,
      num_jobs: 0,
      num_users_household: 0,
      num_users_workers: 0,
      services_data: [],
      num_gender_worker: [],
      num_gender_household: [],
    };
  },
  mounted() {
    loading();
    this.getData();
    setTimeout(() => {
      close_loading();
    }, 1000);
  },
  methods: {
    getData() {
      const url = `${base_url}/admin_dashboard/getdashboard`;
      axios
        .get(url)
        .then((response) => {
          this.num_jobs = response.data.jobs;
          this.num_users_household = response.data.users_household;
          this.num_users_workers = response.data.users_workers;
          this.num_job_categories = response.data.job_categories;
          this.num_job_per_location = response.data.num_job_per_location;

          var num_job_per_category = response.data.num_job_per_category;
          num_job_per_category.forEach((service, index) => {
            this.services_data.push([
              service.job_category,
              parseInt(service.cnt_jobs),
            ]);
          });

          var num_gender_worker = response.data.num_gender_worker;
          num_gender_worker.forEach((worker, index) => {
            this.num_gender_worker.push([
              worker.gender.toUpperCase(),
              parseInt(worker.cnt_worker),
            ]);
          });

          var num_gender_household = response.data.num_gender_household;
          num_gender_household.forEach((household, index) => {
            this.num_gender_household.push([
              household.gender.toUpperCase(),
              parseInt(household.cnt_household),
            ]);
          });
        })
        .then(() => {
          setTimeout(() => {
            var bar_data = {
              data: this.services_data,
              color: "#3c8dbc",
            };
            $.plot("#bar-chart", [bar_data], {
              grid: {
                borderWidth: 1,
                borderColor: "#f3f3f3",
                tickColor: "#f3f3f3",
              },
              series: {
                bars: {
                  show: true,
                  barWidth: 0.5,
                  align: "center",
                },
              },
              xaxis: {
                mode: "categories",
                tickLength: 0,
              },
            });

            var worker_gender_data = {
              data: this.num_gender_worker,
              color: "#3c8dbc",
            };
            $.plot("#worker-gender-chart", [worker_gender_data], {
              grid: {
                borderWidth: 1,
                borderColor: "#f3f3f3",
                tickColor: "#f3f3f3",
              },
              series: {
                bars: {
                  show: true,
                  barWidth: 0.5,
                  align: "center",
                },
              },
              xaxis: {
                mode: "categories",
                tickLength: 0,
              },
            });

            var household_gender_data = {
              data: this.num_gender_household,
              color: "#3c8dbc",
            };
            console.log(household_gender_data);
            $.plot("#household-gender-chart", [household_gender_data], {
              grid: {
                borderWidth: 1,
                borderColor: "#f3f3f3",
                tickColor: "#f3f3f3",
              },
              series: {
                bars: {
                  show: true,
                  barWidth: 0.5,
                  align: "center",
                },
              },
              xaxis: {
                mode: "categories",
                tickLength: 0,
              },
            });
            /* END BAR CHART */
          });
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>
