<template>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
   <!-- sidebar: style can be found in sidebar.less -->
   <section class="sidebar">
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
         <li class="header">MAIN NAVIGATION</li>
         <li class>
            <router-link :to="{ name: '/' }" class>
               <img src="assets/images/Gray/30x30/dashboard.png" />
               <span>Dashboard</span>
            </router-link>
         </li>
         <li class>
            <router-link :to="{ name: '/view_jobs' }" class>
               <img src="assets/images/Gray/30x30/report.png" />
               <span>Services</span>
            </router-link>
         </li>
         <li class>
            <router-link :to="{ name: '/view_job_category' }" class>
               <img src="assets/images/Gray/30x30/report.png" />
               <span>Services Category</span>
            </router-link>
         </li>
         <li class>
            <router-link :to="{ name: '/view_owners' }" class>
               <img src="assets/images/Gray/30x30/users.png" />
               <span>Household Owners</span>
            </router-link>
         </li>

         <li class>
            <router-link :to="{ name: '/view_workers' }" class>
               <img src="assets/images/Gray/30x30/users.png" />
               <span>Workers</span>
            </router-link>
         </li>
         <li class>
            <router-link :to="{ name: '/view_admin' }" class>
               <img src="assets/images/Gray/30x30/users.png" />
               <span>Admins</span>
            </router-link>
         </li>
         <li class>
            <router-link :to="{ name: '/view_feedbacks' }" class>
               <img src="assets/images/Gray/30x30/loyalty_program.png" />
               <span>Feedbacks</span>
            </router-link>
         </li>
      </ul>
   </section>
   <!-- /.sidebar -->
</aside>
</template>
