<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Services Report
        <small></small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- Bar chart -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-bar-chart-o"></i>

              <h3 class="box-title">Total services by category</h3>

              <div class="box-tools pull-right">
                <button
                  type="button"
                  class="btn btn-box-tool"
                  data-widget="collapse"
                >
                  <i class="fa fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-box-tool"
                  data-widget="remove"
                >
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th>Job Category</th>
                  <th>Count</th>
                </tr>
                <tbody>
                  <tr v-for="(job, index) in num_job_per_location" :key="index">
                    <td>{{ job.job_category }}</td>
                    <td>{{ job.address }}</td>
                    <td>{{ job.cnt_jobs }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body-->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      num_job_per_category: null,
    };
  },
  mounted() {
    loading();
    this.getData();
    setTimeout(() => {
      close_loading();
    }, 1000);
  },
  methods: {
    getData() {
      const url = `${base_url}/admin_dashboard/getServicesData`;
      axios
        .get(url)
        .then((response) => {
          this.num_job_per_category = response.data.num_job_per_category;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>
