<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Workers Report
        <small></small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- /.row -->
      <div class="row">
        <div class="col-md-12">
          <!-- Bar chart -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-bar-chart-o"></i>

              <h3 class="box-title">Workers Per Area</h3>

              <div class="box-tools pull-right">
                <button
                  type="button"
                  class="btn btn-box-tool"
                  data-widget="collapse"
                >
                  <i class="fa fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-box-tool"
                  data-widget="remove"
                >
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <div id="bar-chart" style="height: 300px"></div>
            </div>
            <!-- /.box-body-->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      num_location_workers: [],
    };
  },
  mounted() {
    loading();
    this.getData();
    setTimeout(() => {
      close_loading();
    }, 1000);
  },
  methods: {
    getData() {
      const url = `${base_url}/admin_dashboard/getUserReport`;
      axios
        .get(url)
        .then((response) => {
          var num_location_workers = response.data.num_location_workers;
          num_location_workers.forEach((worker, index) => {
            this.num_location_workers.push([
              worker.baranggay.toUpperCase(),
              parseInt(worker.cnt_worker),
            ]);
          });
        })
        .then(() => {
          setTimeout(() => {
            var bar_data = {
              data: this.num_location_workers,
              color: "#3c8dbc",
            };
            $.plot("#bar-chart", [bar_data], {
              grid: {
                borderWidth: 1,
                borderColor: "#f3f3f3",
                tickColor: "#f3f3f3",
              },
              series: {
                bars: {
                  show: true,
                  barWidth: 0.5,
                  align: "center",
                },
              },
              xaxis: {
                mode: "categories",
                tickLength: 0,
              },
            });

            /* END BAR CHART */
          });
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>
