<template>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <section class="content-header">
      <h1>
         Manage Services Categories
         <small>View List</small>
      </h1>
   </section>

   <!-- Main content -->
   <section class="content">
      <div class="row">
         <div class="col-md-12">
            <!-- Form Element sizes -->
            <div class="box box-success">
               <div class="box-header with-border">
                  <h3 class="box-title">List of Services Category</h3>
               </div>
               <div class="box-body">
                  <div class="row">
                     <div class="col-md-4">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#addJob">Add Services Category</button>
                     </div>
                  </div>
                  <table id="tbl_jobs" class="table table-bordered table-striped table-responsive">
                     <thead>
                        <tr>
                           <th>Row</th>
                           <th>Job Title</th>
                           <th>Job Posted</th>
                           <th>Salary</th>
                           <th>Status</th>
                           <th>Date created</th>
                           <th>Actions</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                           <td>{{++index}}</td>
                           <td>{{val.job_category}}</td>
                           <td>{{val.num_jobs}}</td>
                           <td v-if="val.min_salary && val.max_salary">{{'PHP'+val.min_salary}}  {{' - PHP'+val.max_salary}}</td>
                           <td v-else>N/A</td>
                           <td v-if="val.status=='1'">
                              <span class="label label-success">Active</span>
                           </td>
                           <td v-else>
                              <span class="label label-danger">Inactive</span>
                           </td>
                           <td>{{val.created_at ? val.created_at : 'N/A'}}</td>
                           <td>
                              <button class="btn btn-primary" type="button" @click="viewJob(val)">
                                 View
                              </button>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <!-- /.box-body -->
            </div>
            <!-- /.box -->
         </div>
      </div>
      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="viewJob" aria-labelledby="myLargeModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-lg">
            <div class="modal-content">

               <div class="modal-header">
                  <h3 class="modal-title text-primary" id="exampleModalLabel">Add Job Category</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <form method="POST" action="#" @submit.prevent="updateJobCategory()">
                  <div class="modal-body">
                     <div class="site-section bg-light">
                        <div class="row">
                           <div class="col-md-12">
                              <div class="p-5 bg-white">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="form-group">
                                          <label for="first_name">Job Category:</label>
                                          <input type="text" id="registration_first_name" name="first_name" class="form-control" placeholder="Job Category" v-model="view_job_category.job_category" required />
                                       </div>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-6">
                                       <div class="form-group">
                                          <label for="first_name">Min. Salary:</label>
                                          <input type="number" id="registration_first_name" name="first_name" class="form-control" v-model="view_job_category.min_salary" required />
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="form-group">
                                          <label for="first_name">Max. Salary:</label>
                                          <input type="number" id="registration_first_name" name="first_name" class="form-control" v-model="view_job_category.max_salary" required />
                                       </div>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="form-group">
                                          <label for="first_name">Status:</label>
                                          <select name="" class="form-control" id="" v-model="view_job_category.status">
                                             <option value="1">Active</option>
                                             <option value="0">Inactive</option>
                                          </select>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                  </div>

                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     <button type="submit" class="btn btn-primary">Update Job Category</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="addJob" aria-labelledby="myLargeModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-lg">
            <div class="modal-content">

               <div class="modal-header">
                  <h3 class="modal-title text-primary" id="exampleModalLabel">Add Job Category</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <form method="POST" action="#" @submit.prevent="addJob()">
                  <div class="modal-body">
                     <div class="site-section bg-light">
                        <div class="row">
                           <div class="col-md-12">
                              <div class="p-5 bg-white">
                                 <div class="row">
                                    <div class="col-md-8">
                                       <div class="form-group">
                                          <label for="first_name">Job Category:</label>
                                          <input type="text" id="registration_first_name" name="first_name" class="form-control" placeholder="Job Category" v-model="add_job_category.job_category" required />
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label for="first_name">Min. Salary:</label>
                                          <input type="number" id="registration_first_name" name="first_name" class="form-control" v-model="add_job_category.min_salary" required />
                                       </div>
                                    </div>
                                 </div>
                                 <!-- <div class="row">
                                    <div class="col-md-6">
                                       <div class="form-group">
                                          <label for="first_name">Min. Salary:</label>
                                          <input type="number" id="registration_first_name" name="first_name" class="form-control" v-model="add_job_category.min_salary" required />
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="form-group">
                                          <label for="first_name">Max. Salary:</label>
                                          <input type="number" id="registration_first_name" name="first_name" class="form-control" v-model="add_job_category.max_salary" required />
                                       </div>
                                    </div> 
                                 </div>-->
                              </div>
                           </div>
                        </div>
                     </div>

                  </div>

                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     <button type="submit" class="btn btn-primary">Add Job Category</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </section>
</div>
</template>

<script>
import StarRating from 'vue-star-rating'
export default {
   components: {
      StarRating
   },
   data() {
      return {
         rows: [],
         add_job_category: {
            job_category: "",
            min_salary: "",
            max_salary: ""
         },
         view_job_category: [],
         base_url: "",
         user_data: [],
      };
   },
   mounted() {
      loading();
      this.setTable();
      setTimeout(() => {
         close_loading();
      }, 1000);
   },
   methods: {
      updateJobCategory() {
         var url = base_url + "jobs/update_job_category";
         axios
            .post(url, {
               token: getCookie("csrf_cookie"),
               view_job_category: this.view_job_category
            })
            .then(response => {
               notify2("Successfully Updated", "", "success")
            })
            .catch(function (error) {
               console.log(error);
            });
      },
      addJob() {
         var url = base_url + "jobs/add_job_category";
         axios
            .post(url, {
               token: getCookie("csrf_cookie"),
               add_job_category: this.add_job_category
            })
            .then(response => {
               notify2("Successfully Updated", "", "success")
               setTimeout(() => {
                  location.reload()
               })
            })
            .catch(function (error) {
               console.log(error);
            });
      },
      setTable() {
         const url = `${base_url}/job_management/get_all_job_categories`;
         axios
            .get(url)
            .then(response => {
               this.rows = response.data.job_categories;
               setTimeout(() => {
                  $("#tbl_jobs").DataTable({
                     lengthMenu: [25, 50, 100],
                     columnDefs: [{
                        targets: [7],
                        orderable: false
                     }, ]
                  });
               });
            })
            .catch(function (error) {
               console.log(error);
            });
      },
      viewJob(job) {
         var tmp_job = job
         this.view_job_category = tmp_job;
         setTimeout(() => {
            $("#viewJob").modal("show")
         })
      },
      // edit(email) {
      //   this.$router.push(`/edit_user/${escape(email).replace(/\//g, "$st")}`);
      // },
      // deleteUser(email) {
      //   confirm_alert(
      //     "Are you sure?",
      //     "You won't be able to revert this! ",
      //     "warning"
      //   ).then(response => {
      //     const url = `${base_url}users_api/delete`;
      //     axios
      //       .post(url, {
      //         token: getCookie("csrf_cookie"),
      //         email: email
      //       })
      //       .then(response => {
      //         location.reload();
      //       })
      //       .catch(function(error) {
      //         console.log(error);
      //       });
      //   });
      // },
      changeStatus(id, status) {
         confirm_alert(
            "Are you sure?",
            "You won't be able to revert this! ",
            "warning"
         ).then(response => {
            const url = `${base_url}user_management/changeStatus`;
            axios
               .post(url, {
                  token: getCookie("csrf_cookie"),
                  id: id,
                  status: status
               })
               .then(response => {
                  location.reload();
               })
               .catch(function (error) {
                  console.log(error);
               });
         });
      }
   }
};
</script>
