
<template>
  <div>
    <div style="height: 40px;"></div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8 mb-5">
            <div class="p-5 bg-white">
              <center>
                <div class="img-border mb-5">
                  <img
                    :src="applicant_data.profile_picture"
                    alt
                    class="img-fluid img-thumbnail rounded mx-auto center-block"
                    width="300px"
                  />
                  <div class="row">
                    <div class="col-md-12">
                      <h4
                        class="mr-3 text-black"
                      >{{applicant_data.full_name == null ? "":applicant_data.full_name}}</h4>
                    </div>
                    <div class="col-md-12"></div>
                    <div class="col-md-12">
                      <!--<h5 class="mr-3 text-black">{{userProfile.educational_attainment}}</h5> -->
                    </div>
                  </div>
                </div>
              </center>
              <h3>{{applicant_data.first_name + " " + applicant_data.middle_name + " " +applicant_data.last_name}}</h3>
              <h5>{{applicant_data.educational_attainment}}</h5>
              <p>{{applicant_data.contact_number}}</p>
              <p>{{applicant_data.email_address}}</p>
              <hr />

              <div class="mb-4 mb-md-5 mr-5">
                <div class="job-post-item-header d-flex align-items-center"></div>
                <div class="row">
                  <div class="job-post-item-body d-block d-md-flex">
                    <div class="mr-3">
                      <span class="fl-bigmug-line-portfolio23"></span>
                    </div>
                    <div>
                      <p>{{applicant_data.description}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="p-4 mb-3 bg-white">
              <div class="row">
                <div class="col-md-12">
                  <button
                    class="btn btn-success btn-block"
                   @click="approve(applyId)"
                  >
                    <strong>Accept</strong>
                  </button>
                  <button class="btn btn-default btn-block"
                     @click="rejectApplicant(applyId)"
                    >

                    <strong>Reject</strong>
                  </button>
                  <button
                    class="btn btn-warning btn-block"
                    data-toggle="modal"
                    data-target="#viewResume"
                  >
                    <strong>View Resume</strong>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="viewResume"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modelTitleId"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" style="height: 100%" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Resume</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="embed-responsive embed-responsive-21by9">
  

                  <br />

                  <iframe
                    :src="applicant_data.resume"
                    class = "embed-responsive-item"
                    frameborder="0"
                    width="100%"
                    height="450px"
                    v-if="applicant_data.resume !=''"
                  ></iframe>
            <p v-else>No resume included</p>
               </div>
            
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      userProfile: [],
      applicant_data: {
        full_name: "",
        contact_number: "",
        email_address: "",
        profile_picture: "",
        resume: "",
        description: "",
        educational_attainment: "",
      },
      base_url: "",
      user_id: "",
     applyId: applyId,
    };
  },
  computed: {},
  created() {},
  mounted() {  
    this.base_url = base_url
    this.user_id = profile
    this.getApplicantData()
  },
  methods: {  
    getApplicantData() {
      var url = base_url + "jobapplication/get_applicant_data";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          user_id: this.user_id
        })
        .then(response => {
          this.applicant_data =  response.data.users_details
          this.applicant_data.profile_picture = response.data.users_details.profile_picture ?  this.base_url+'/uploads/'+response.data.users_details.profile_picture : "https://via.placeholder.com/100x100";
          this.applicant_data.resume = response.data.users_details.resume ? this.base_url+'/resume/'+response.data.users_details.resume : "";
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    approve(applyId) {
 
      var url = base_url + "jobapplication/approve";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          applyId: applyId
        })
        .then(response => {
          
          notify2(this.applicant_data.first_name + " " + this.applicant_data.middle_name + " " +this.applicant_data.last_name+" is now hired!", "Thank you for using TapHelper", "success");
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    rejectApplicant(applyId) {
      var url = base_url + "jobapplication/reject_applicant";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          applyId: applyId
        })
        .then(response => {
         
      
          notify2(this.applicant_data.first_name + " " + this.applicant_data.middle_name + " " +this.applicant_data.last_name+" is rejected", "We are sorry to hear that.", "success");
        })
        .catch(function(error) {
          console.log(error);
        });
    },
  }
};
</script>
