<template>
<div>
   <!-- Modal -->
   <div class="container">
      <div class="col-md-12">

      </div>
   </div>
   <div class="container mt-2">
      <div class="col-10 offset-1">
         <img :src="`${base_url}assets/images/taphelper_logo.png`" alt="taphelper logo" class="img-fluid d-block mx-auto">
         <h1 class="text-center">Welcome to TapHelper</h1>
         <form id="log_in" method="POST" action="#" @submit.prevent="login()">
            <div class="row form-group">
               <div class="col-md-12 mb-3 mb-md-0">
                  <input type="text" id="email" name="email" class="form-control" placeholder="Enter your email address" v-model="login_data.email" required />
               </div>
            </div>

            <div class="row form-group">
               <div class="col-md-12 mb-3 mb-md-0">
                  <input type="password" id="passwword" name="passwword" class="form-control" placeholder="Password" v-model="login_data.password" required />
               </div>
            </div>

            <div class="row">
               <div class="col-md-12 float-left">
                  <button type="submit" class="btn btn-primary btn-block">Log in</button>
               </div>
            </div>
            <br />
            <div class="row">
               <div class="col-md-12">
                  <p class="text-center">
                     New user?
                     <a href="#" data-toggle="modal" data-target="#register">Sign up FREE Now</a>
                  </p>
               </div>
            </div>
         </form>
         <form id="log_in" method="POST" action="#" @submit.prevent="login()" v-show="showLogin=false">
            <div class="row form-group">
               <div class="col-md-12 mb-3 mb-md-0">
                  <input type="text" id="email" name="email" class="form-control" placeholder="Enter your email address" v-model="login_data.email" required />
               </div>
            </div>

            <div class="row form-group">
               <div class="col-md-12 mb-3 mb-md-0">
                  <input type="password" id="passwword" name="passwword" class="form-control" placeholder="Password" v-model="login_data.password" required />
               </div>
            </div>

            <div class="row">
               <div class="col-md-12 float-left">
                  <button type="submit" class="btn btn-primary btn-block">Log in</button>
               </div>
            </div>
            <br />
            <div class="row">
               <div class="col-md-12">
                  <p class="text-center">
                     New user?
                     <a href="#" data-toggle="modal" data-target="#register">Sign up FREE Now</a>
                  </p>
               </div>
            </div>
         </form>
      </div>
   </div>
   <!-- Modal -->
   <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">Sign up for free</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form id="registration" method="POST" action="#" @submit.prevent="register()">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="form-group">
                           <input type="text" id="registration_first_name" name="first_name" class="form-control" placeholder="First Name" v-model="registration_data.first_name" required />
                        </div>
                     </div>

                     <div class="col-md-12">
                        <div class="form-group">
                           <input type="text" id="registration_middle_name" class="form-control" placeholder="Middle Name" v-model="registration_data.middle_name" />
                        </div>
                     </div>

                     <div class="col-md-12">
                        <div class="form-group">
                           <input type="text" id="registration_last_name" class="form-control" placeholder="Last Name" v-model="registration_data.last_name" required />
                        </div>
                     </div>
                  </div>

                  <div class="row form-group">
                     <div class="col-md-12 mb-3 mb-md-0">
                        <input type="number" id="registration_contact_number" class="form-control" placeholder="Contact number" v-model="registration_data.contact_number" required />
                     </div>
                  </div>

                  <div class="row form-group">
                     <div class="col-md-12 mb-3 mb-md-0">
                        <input type="email" id="registration_email" class="form-control" placeholder="Email" v-model="registration_data.email" required />
                     </div>
                  </div>

                  <div class="row form-group">
                     <div class="col-md-12 mb-3 mb-md-0">
                        <input type="password" id="registration_password" class="form-control" placeholder="Password" v-model="registration_data.password" required />
                     </div>
                  </div>

                  <div class="row form-group">
                     <div class="col-md-12">
                        <div class="form-check">
                           <input class="form-check-input" type="radio" value="User" id="User" v-model="registration_data.role" />
                           <label class="form-check-label" for="User">
                              Helper (Looking for a Job ?)
                           </label>
                        </div>
                        <div class="form-check">
                           <input class="form-check-input" type="radio" value="Employer" id="Employer" v-model="registration_data.role" />
                           <label class="form-check-label" for="Employer">
                              Employer (Need a helping hand?)
                           </label>
                        </div>

                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-12 float-left">
                        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                        <p>By signing up, you agree with our <a href="#">terms and conditions</a> and <a href="#">privacy policy</a></p>
                     </div>
                  </div>
                  <br />
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
</template>

<script>
export default {
   data() {
      return {
         base_url: base_url,
         registration_data: {
            first_name: "",
            middle_name: "",
            last_name: "",
            contact_number: "",
            email: "",
            password: "",
            role: "User"
         },
         login_data: {
            email: "",
            password: ""
         },
         test: ""
      };
   },
   computed: {},
   created() {},
   mounted() {},
   methods: {
      login() {
         var url = base_url + "account/login";
         axios
            .post(
               url, {
                  token: getCookie("csrf_cookie"),
                  login_data: this.login_data,
               }
            )
            .then(response => {
               if (response.data.message == "loginSuccess") {
                  var url = base_url;
                  window.location = url;
               } else if (response.data.message == "passwordError") {
                  swal("Authentication Failed", "Incorrect Password", "error");
               } else if (response.data.message == "usernameError") {
                  swal("Authentication Failed", "Incorrect Email address", "error");
               } else if (response.data.message == "userLocked") {
                  swal("Authentication Failed", "User is Locked!", "error");
               } else {
                  swal("Authentication Failed", "", "error");
               }
            })
            .catch(function (error) {
               console.log(error);
            });
      },
      register() {
         var url = base_url + "account/userRegistration";
         axios
            .post(url, {
               token: getCookie("csrf_cookie"),
               registration_data: this.registration_data,
            })
            .then(response => {
               if (response.data.message == "Successfuly Registered") {
                  var url = base_url + "user_profile";
                  notify2("Registration Success", "", "success");
                  setTimeout(() => {
                     window.location = url;
                  }, 2000)
               } else if (response.data.message == "Email address is already taken.") {
                  notify2(response.data.message, "", "error");
               } else {
                  notify2("Authentication Failed", "Please try again", "error");
               }
            })
            .catch(function (error) {
               console.log(error);
            });
      }
   }
};
</script>
