<template>

<div>
     
    <div style="height: 40px;"></div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
       
          <div class="col-md-12 col-lg-12 mb-5">
          
            
          
            <form id="employerRegistration" method="POST" action="#" @submit.prevent="employer_registration()">
              
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">First Name:</label>
                  <input type="text" id="first_name" v-model = "employer_data.first_name"  class="form-control" placeholder="First name" required>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">Middle Name:</label>
                  <input type="text" id="middle_name"  v-model = "employer_data.middle_name"  class="form-control" placeholder="Middle name">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">Last Name:</label>
                  <input type="text" id="last_name"  v-model = "employer_data.last_name"  class="form-control" placeholder="Last name" required>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">Suffix Name:</label>
                  <input type="text" id="suffix_name" v-model = "employer_data.suffix_name" class="form-control" placeholder="Suffix name">
                </div>
              </div>


              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="company">Full Company name</label>
                  <input type="text" id="company" v-model = "employer_data.company" class="form-control" placeholder="Company name" >
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="contact_number">Contact No:</label>
                  <input type="number" id="contact_number" v-model = "employer_data.contact_number" class="form-control" placeholder="Contact number" required>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="email_address">Email Address:</label>
                  <input type="email" id="email_address" v-model = "employer_data.email_address" class="form-control" placeholder="Juan@gmail.com" required>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="password">Password:</label>
                  <input type="password" id="password" v-model = "employer_data.password" class="form-control" placeholder="Password" required>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Register" class="btn btn-primary float-right  py-2 px-5">
                </div>
              </div>

  
            </form>
          </div>

        
          </div>
        </div>
      </div>
    </div>

   



</template>
<script>
export default {
  data() {
    return {
      base_url: base_url,
      employer_data: {
        first_name: "",
        middle_name: "",
        last_name: "",
        suffix_name: "",
        email_address: "",
        password: "",
        contact_number :"",
        company :"",
      },
      login_data: {
        email: "",
        password: ""
      },
      test: ""
    };
  },
  computed: {},
  created() {},
  mounted() {},
  methods: {
    employer_registration() {
      var url = base_url + "account/employerRegister";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          employer_data: this.employer_data,
        })
        .then(response => {
          console.log(response.data.message);
           if (response.data.message == "Successfuly Registered") {
              var url = base_url + "index";
              notify2("Registration Success", "", "success");
              setTimeout(()=>{
                 window.location = url;
              },2000)
           } 
           else if(response.data.message == "Email address is already taken.")
           {
                notify2(response.data.message, "", "error");
           }
           else {
             notify2("Authentication Failed", "Please try again", "error");
           }
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>

