
<template>
  <div>
    <div style="height: 40px;"></div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="p-5 bg-white">
              <div class="img-border mb-5">
                
                <div class="row">
                  <div class="col-md-12">
                      <h4 class="text-center">Employer Profile</h4>
                  </div>
                  
                  <hr>
                  <div class="row">
                    <div class="col-md-12">
                       <img v-bind:src=current_profile.profile_picture alt="CLICK HERE TO UPLOAD YOUR PROFILE PICTURE" class="img-thumbnail rounded mx-auto" width="400" @click="$refs.file.click()" >
                       <input type="file" ref="file" style="display: none" @change="handleFileUpload(); submitForm ()" >
                 
                    </div>
                  </div>
                  <hr>
                <div class="row">

       
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="first_name"> First name:</label>
                      <input
                        type="text"
                        id="registration_first_name"
                        name="first_name"
                        class="form-control"
                        placeholder="First Name"
                        v-model="userProfile.first_name"
                      />
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="middle_name"> Middle name:</label>
                      <input
                        type="text"
                        id="registration_middle_name"
                        class="form-control"
                        placeholder="Middle Name"
                        v-model="userProfile.middle_name"
                      />
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                       <label for="last_name"> Last name:</label>
                      <input
                        type="text"
                        id="registration_last_name"
                        class="form-control"
                        placeholder="Last Name"
                        v-model="userProfile.last_name"
                      />
                    </div>
                  </div>
             
                  <div class="col-md-6">
                    <div class="form-group">
                    
                      <label for="contact_number">Contact number:</label>
                      <input
                        type="number"
                        id="update_contact_number"
                        class="form-control"
                        placeholder="Contact_number"
                        v-model="userProfile.contact_number"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                  
                      <label for="email">Email Address</label>
                      <input
                        type="email"
                        id="update_email"
                        class="form-control"
                        placeholder="Email"
                        v-model="userProfile.email_address"
                      />
                    </div>
                  </div>
                <div class="col-md-12">
                  <div class="form-group">
                
                    <input
                      type="text"
                      id="update_educational_attainment"
                      class="form-control"
                      placeholder="Educational Attainment"
                      v-model="userProfile.educational_attainment"
                    />
                  </div>
                </div>


              <div class="col-md-12">
                <div class="row form-group">
                    <textarea
                      rows="7"
                      type="text"
                      id="update_email"
                      class="form-control"
                      placeholder="Description about yourself.."
                      v-model="userProfile.description"
                    ></textarea>
                  </div>
                </div>

                
                  <div class="col-md-8 ">
                      
                  </div>
                  <div class="col-md-4">
                    <button @click="updateUserData()" class = "btn btn-success pull-right btn-block">Update Profile</button>
                  </div>
                
                <!-- <div class="row">
                  <div class="col-md-12">
                       <iframe :src=current_profile.resume title="" width="1070" height="1260" ></iframe>
                           <input type="file" ref="files"  @change="handleResumeUpload(); resumeForm ()" value = "Upload Resume">
                  </div>
                </div> -->

                 <div class="col-md-12">
                 
               </div>
             </div>
            </div>
              </div>
            </div>
          </div>

       
          
        </div>
      </div>
    </div>
     

  
  </div>
</template>
<
<script>
export default {
  data() {
    return {
      userProfile: [],
      current_profile: {
        first_name: "",
        last_name: "",
        middle_name: "",
        email_address: "",
        suffix_name: "",
        description: "",
        educational_attainment: "",
        profile_picture: "",
        resume: "",
      
      },
       file: '',
       rfile: '',
      usersImage: {
        image: "",
      },
      usersResume: {
        resume: "",
      },
      base_url: "",
      user_data: [],
    };
  },
  computed: {},
  created() {},
  mounted() {
   this.base_url = base_url;
    this.getUserProfile();
    
  },

  methods: {  
    

    handleFileUpload(){
      this.usersImage.image = this.$refs.file.files[0];
      console.log(this.$refs.file.files[0])
    },
    
    submitForm () {
      confirm_alert('Profile Picture will be change','','info').then((response) => {
      
        let usersImage =  JSON.stringify(this.usersImage);
        let url = base_url+'employer_profile/uploadProfilePic';
        this.file = this.$refs.file.files[0];
	       let formData = new FormData();
	        formData.append('file', this.file);
	        formData.append('token', getCookie('csrf_cookie'));
	        formData.append('usersImage', this.usersImage);
       axios.post(url, formData,
       {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
       })
       .then(function (response) {
					if(response.data.message=="success") {
    
               swal("Profile Picture Updated","","success");
               setTimeout(()=>{
                window.location.href = base_url +"employer_profile"
               },2000)
           }
           else {
            swal("Your file must be PNG or JPG Format","","error");
           }
       })
       .catch(function (error) {
           console.log(error);
       });
      });
      
     },

     handleResumeUpload(){
      this.usersResume.resume = this.$refs.files.files[0];
      
  
    },
    
    resumeForm () {
      confirm_alert('Your old resume will be overwrite','','info').then((response) => {
      
        let usersResume =  JSON.stringify(this.usersResume);
        let url = base_url+'employer_profile/uploadResume';
        this.rfile = this.$refs.files.files[0];
        console.log(this.rfile)
	       let formData = new FormData();
	      formData.append('file', this.rfile);
	      formData.append('token', getCookie('csrf_cookie'));
	      formData.append('usersResume', this.usersResume);
       axios.post(url, formData,
       {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
       })
       .then(function (response) {
					if(response.data.message=="success") {
    
               swal("Resume Updated","","success");
               setTimeout(()=>{
                window.location.href = base_url +"employer_profile"
               },2000)
           }
           else {
            swal("Your file must be PDF Format","","error");
           }
       })
       .catch(function (error) {
           console.log(error);
       });
      });
      
     },

    getUserProfile() {
      const url = `${base_url}employer_profile/getAllUserData`;
      axios
        .post(url, {
          token: getCookie("csrf_cookie")
        })
        .then(result => {
          var tmp_user_details = result.data.users_details;
          this.userProfile = result.data.users_details;
          this.current_profile.first_name = result.data.users_details.first_name;
          this.current_profile.last_name = result.data.users_details.last_name;
          this.current_profile.middle_name = result.data.users_details.middle_name;
          this.current_profile.suffix_name = result.data.users_details.suffix_name;
          this.current_profile.description = result.data.users_details.description;
          this.current_profile.educational_attainment = result.data.users_details.educational_attainment;
          this.current_profile.profile_picture = base_url+'/uploads/'+result.data.users_details.profile_picture;
          this.current_profile.resume = base_url+'/resume/'+result.data.users_details.resume;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    updateUserData() {

      const url = `${base_url}employer_profile/update_user_profile`;
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          user_profile: this.userProfile
        })
        .then(result => {
          if (result.data.message == "Update Successfuly.") {
            var url = base_url + "employer_profile";
            notify2("Update Success", "", "success");
            setTimeout(() => {
              window.location = url;
            }, 2000);
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    
  
  }
};
</script>
