<template>
  <div>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img
            :src="`${base_url + 'assets/images/banner.png'}`"
            alt="taphelper banner"
            class="img-fluid"
          />
        </div>
      </div>
    </div>

    <div class="modal" id="viewJobModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Job Details</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form
              id="jobpost"
              method="POST"
              action="#"
              @submit.prevent="applyJob()"
            >
              <div>
                <p>
                  Household Owner details will be available upon accepting the
                  job
                </p>
              </div>
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="job_title"
                    >I need help on:
                  </label>
                  <input
                    type="text"
                    id="job_title"
                    class="form-control mt-2"
                    v-model="jobpost_data.job_title"
                    readonly
                  />
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="location"
                    >Where will your task be?</label
                  >
                  <input
                    type="text"
                    id="location"
                    class="form-control mt-2"
                    placeholder="Full Address"
                    v-model="jobpost_data.address"
                    readonly
                  />
                </div>
              </div>

              <div class="row form-group">
                <div class="col-sm-6 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="location">Offer:</label>
                  <input
                    type="text"
                    id="location"
                    class="form-control"
                    placeholder="Service Fee"
                    v-model="jobpost_data.service_fee"
                    readonly
                  />
                </div>
                <div class="col-sm-6 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="location">Rate:</label>
                  <select
                    name=""
                    id=""
                    class="form-control"
                    v-model="jobpost_data.rate"
                    disabled
                  >
                    <option value="Hourly">Hourly</option>
                    <option value="Daily">Daily</option>
                    <option value="Once the job is done">
                      Once the job is done
                    </option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="font-weight-bold">Preferred ETA:</label>
                    <p>{{ jobpost_data.prefer_date }}</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="font-weight-bold">Expires at:</label>
                    <p>{{ jobpost_data.expiry }}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="font-weight-bold">Preferred Gender:</label>
                    <p>{{jobpost_data.gender == 'Any' || jobpost_data.gender == 'any' ? 'Any' : jobpost_data.gender }}</p>
                  </div>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="description"
                    >Instructions</label
                  >
                  <textarea
                    type="text"
                    id="description"
                    class="form-control"
                    v-model="jobpost_data.job_description"
                    rows="7"
                    readonly
                  ></textarea>
                </div>
              </div>
              <img
                :src="`${base_url + jobpost_data.image}`"
                alt=""
                v-if="jobpost_data.image != ''"
                class="img-fluid d-block mx-auto mb-2"
              />
              <div class="row form-group" v-if="user_data.role == 'Worker'">
                <div class="col-md-12">
                  <input
                    type="submit"
                    value="Accept Offer"
                    class="btn btn-primary py-2 px-5 w-100"
                  />
                </div>
              </div>
              <div class="row form-group" v-else>
                <div class="col-md-12">
                  <a :href="`${base_url + 'login'}`"
                    ><button
                      type="button"
                      class="btn btn-primary py-2 px-5 w-100"
                    >
                      Become a Worker!
                    </button></a
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-2 section-heading">
            <h2 class="mb-5">Someone needs a helping hand!</h2>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <select
              name=""
              id=""
              class="form-control"
              v-model="search_job"
              @change="searchJob()"
            >
              <option value="">Seach a job</option>
              <option
                :value="job.job_category"
                v-for="(job, index) in jobCategories"
                :key="index"
              >
                {{ job.job_category }}
              </option>
            </select>
          </div>
        </div>
        <!--<div class="row mt-2">
            <div class="col-md-12">
               <p class="small">
                  here are the popular jobs:
                  <a href="javascript:void(0);" class="category" v-for="(job, index) in popularJobs" :key="index" @click="filterJob(job.job_category)">{{ job.job_category }}</a>
               </p>
            </div>
         </div> -->
        <div class="row" v-if="search_job != ''">
          <div class="col-md-12" v-if="search_jobs.length > 0">
            <div
              class="card flex-row flex-wrap mt-2 product_container"
              v-for="(job, index) in search_jobs"
              :key="index"
            >
              <div
                class="card-block px-2 product_name_container"
                style="width: 90%"
              >
                <p class="card-text mb-0">
                  <b style="text-transform: uppercase">{{ job.job_title }}</b>
                </p>
                <span class="badge badge-success"
                  >PHP{{ job.service_fee }} / {{ job.rate }}</span
                >
                <p class="mb-0">{{ job.address }}</p>
              </div>
              <button
                class="btn btn-primary float-right"
                style="
                  position: absolute;
                  right: 0;
                  height: 100%;
                  border-radius: 0px;
                "
                @click="viewJob(job)"
              >
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
              <div class="w-100"></div>
              <div class="card-footer w-100 text-muted px-2">
                <p class="mb-0">
                  <i class="fa fa-clock-o" aria-hidden="true"></i> ETA:
                  {{ job.prefer_date }}
                </p>
              </div>
            </div>
          </div>
          <div v-else>
            <div class="col-md-12">
              <p>No jobs available for {{ search_job }}</p>
            </div>
          </div>
        </div>
        <div class="row" v-else>
          <div class="col-md-12">
            <div
              class="card flex-row flex-wrap mt-2 product_container"
              v-for="(job, index) in displayedjobs"
              :key="index"
            >
              <!--<div class="card-header border-0" v-if="product.image_link != ''">
                        <div v-lazy-container="{ selector: 'img' }">
                           <img :data-src="
                        transformImgExt(product_image_url, product.image_link)
                      " :data-error="`${baseurl}uploads/no_image.png`" />
                        </div>
                     </div> -->
              <div
                class="card-block px-2 product_name_container"
                style="width: 90%"
              >
                <p class="card-text mb-0">
                  <b style="text-transform: uppercase">{{ job.job_title }}</b>
                </p>
                <span class="badge badge-success"
                  >PHP{{ job.service_fee }} / {{ job.rate }}</span
                >
                <p class="mb-0">{{ job.address }}</p>
              </div>
              <button
                class="btn btn-primary float-right"
                style="
                  position: absolute;
                  right: 0;
                  height: 100%;
                  border-radius: 0px;
                "
                @click="viewJob(job)"
              >
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
              <div class="w-100"></div>
              <div class="card-footer w-100 text-muted px-2">
                <p class="mb-0">
                  <i class="fa fa-clock-o" aria-hidden="true"></i> ETA:
                  {{ job.prefer_date }}
                </p>
                <p class="mb-0">
                  <i class="fa fa-clock-o" aria-hidden="true"></i> Expires:
                  {{ job.expiry }}
                </p>
              </div>
            </div>

            <nav aria-label="Page navigation example ">
              <ul class="pagination mt-3">
                <li class="page-item">
                  <button
                    type="button"
                    class="page-link"
                    v-if="page != 1"
                    @click="page--"
                  >
                    Previous
                  </button>
                </li>
                <li class="page-item">
                  <button
                    type="button"
                    class="page-link"
                    v-for="(pageNumber, index) in pages.slice(
                      page - 1,
                      page + 5
                    )"
                    @click="page = pageNumber"
                    :key="index"
                  >
                    {{ pageNumber }}
                  </button>
                </li>
                <li class="page-item">
                  <button
                    type="button"
                    @click="page++"
                    v-if="page < pages.length"
                    class="page-link"
                  >
                    Next
                  </button>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <section class="padding-bottom">
          <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">
              Share your Taphelper experience
            </h4>
            <hr />
          </header>

          <div class="row">
            <div class="col-md-12">
              <form method="POST" action="#" @submit.prevent="sendFeedback()">
                <div class="card card-body">
                  <h4 class="title py-3">
                    Let us know your feedback so we can improve our service.
                  </h4>
                  <div class="row">
                    <div class="col-md-12">
                      <span class="text-danger"
                        >All fields with * are required</span
                      >
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      class="form-control"
                      name=""
                      placeholder="Name*"
                      type="text"
                      v-model="feedback_data.name"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <input
                      class="form-control"
                      name=""
                      placeholder="Email *"
                      type="email"
                      v-model="feedback_data.email"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <input
                      class="form-control"
                      name=""
                      placeholder="Contact Number *"
                      v-model="feedback_data.contact_number"
                      type="text"
                      required
                    />
                  </div>
                  <textarea
                    name=""
                    class="form-control"
                    v-model="feedback_data.message"
                    id=""
                    cols="30"
                    rows="5"
                    required
                    placeholder="Please enter here your feedback."
                  ></textarea>
                  <br />
                  <div class="form-group">
                    <button class="btn btn-primary" type="submit">
                      Submit
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!-- col // -->
          </div>
          <!-- row // -->
        </section>
      </div>
    </div>
  </div>
</template>

<style>
button.page-link {
  display: inline-block;
}

.overlay-gradient:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #12225b;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#ff6a00),
    to(#12225b)
  );
  background: linear-gradient(to bottom right, #ff6a00, #12225b);
}
button.page-link {
  font-size: 20px;
  color: #29b3ed;
  font-weight: 500;
}

.offset {
  width: 500px !important;
  margin: 20px auto;
}
</style>

<script>
export default {
  data() {
    return {
      base_url: "",
      search_job: "",
      jobCategories: [],
      popularJobs: [],
      jobs: [],
      page: 1,
      perPage: 10,
      pages: [],
      search_job: "",
      jobpost_data: [],
      search_jobs: [],
      other_job: [],
      areas: [],
      user_data: [],
      feedback_data: {
        name: "",
        email: "",
        contact_number: "",
        message: "",
      },
    };
  },
  created() {
    this.base_url = base_url;
    this.setData();
    this.getjobs();
    this.getUser();
  },
  computed: {
    displayedjobs() {
      return this.paginate(this.jobs);
    },
  },
  watch: {
    jobs() {
      this.setPages();
    },
  },
  methods: {
    sendFeedback() {
      var url = base_url + "index/send_feedback";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          feedback_data: this.feedback_data,
        })
        .then((response) => {
          notify2(
            "Thank you for your feedback",
            "This will help us a lot to improve our service",
            "success"
          );
          this.feedback_data = {
            name: "",
            email: "",
            contact_number: "",
            message: "",
          };
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    applyJob() {
      var url = base_url + "jobs/apply_job";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          job_key: this.jobpost_data["job_key"],
          contact_number: this.jobpost_data["contact_number"],
        })
        .then((response) => {
          notify2(
            "Its your time to help!",
            "You are now assigned to this job",
            "success"
          );
          setTimeout(() => {
            window.location =
              this.base_url + "post/" + this.jobpost_data["job_key"];
          }, 3000);
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    getUser() {
      var url = base_url + "account/get_user";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
        })
        .then((response) => {
          this.user_data = response.data.user_data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    viewJob(job) {
      var tmp_job = job;
      this.jobpost_data = tmp_job;
      $("#viewJobModal").modal("show");
    },
    searchJob() {
      this.search_jobs = [];
      var search_job = this.search_job.toLowerCase();
      this.jobs.some((job) => {
        var job_title = job.job_title.toLowerCase();
        if (job_title.includes(search_job)) {
          this.search_jobs.push(job);
        }
      });
    },
    filterJob(tmp_job) {
      this.search_jobs = [];
      var search_job = tmp_job.toLowerCase();
      console.log(search_job);
      this.jobs.some((job) => {
        var job_title = job.job_title.toLowerCase();
        console.log(job_title);
        if (job_title.includes(search_job)) {
          this.search_jobs.push(job);
        } else {
        }
      });
    },
    getjobs() {
      let data = [];
      var url = base_url + "jobs/get_pending_jobs";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
        })
        .then((response) => {
          this.jobs = response.data.jobs;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    setPages() {
      let numberOfPages = Math.ceil(this.jobs.length / this.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index);
      }
    },
    paginate(jobs) {
      let page = this.page;
      let perPage = this.perPage;
      let from = page * perPage - perPage;
      let to = page * perPage;
      return jobs.slice(from, to);
    },
    setData() {
      var url = base_url + "jobs/job_categories";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
        })
        .then((response) => {
          this.jobCategories = response.data.job_categories;
          this.popularJobs = response.data.popular_jobs;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>
