
<template>
  <div>
    <div style="height: 40px;"></div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8 mb-5">
            <div class="p-5 bg-white">
              <div class="mb-4 mb-md-5 mr-5">
                <div class="job-post-item-header d-flex align-items-center">
                  <h2 class="mr-3 text-black h4">{{job_data.job_title}}</h2>
                   <span class="border border-warning text-warning py-2 px-4 rounded">{{job_data.job_type}}</span>
                  <!-- <div class="badge-wrap d-block d-md-flex">
                   
                  </div> -->
                </div>
                <div class="job-post-item-body d-block d-md-flex">
                  <div class="mr-3">
                    <span class="fl-bigmug-line-portfolio23"></span>
                  </div>
                  <div>
                    <span class="fl-bigmug-line-big104"></span>
                    <span>{{job_data.location}}</span>
                  </div>
                </div>
              </div>
              <div class="img-border mb-5">
                <img :src=job_data.job_profile_picture alt class="img-fluid" />
              </div>
              <p>{{job_data.job_description}}</p>
              <div class="mt-5" v-if="isApplied!=='' && role !==''">
                <div v-if="role=='User'">
                  <a
                    href="#"
                    class="btn btn-primary float-right"
                    v-on:click="applyJob()"
                    v-if="isApplied==false"
                  >Apply Job</a>
                  <a
                    href="#"
                    class="btn btn-warning float-right"
                    v-on:click="cancelApplication()"
                    v-else
                  >Cancel Application</a>
                </div>
                <div v-else>
                  <a
                    href="javascript:void(0)"
                    class="btn btn-warning float-right"
                    @click="viewJobApplicants(job_key)"
                  >View Applicants</a>
                </div>
              </div>
              <div class="mt-5" v-else>
                <a
                  class="btn btn-primary float-right"
                  href="#"
                  data-toggle="modal"
                  data-target="#logIn"
                >Apply Job</a>
              </div>
            </div>
          </div>
           
            
        
          <div class="col-lg-4">
            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">
                <strong>Employer Info</strong>
              </h3>
              <!-- employer info start -->

              <img
                v-bind:src="base_url+'/uploads/'+employerInfo.profile_picture"
                alt="CLICK HERE TO UPLOAD YOUR PROFILE PICTURE"
                class="img-thumbnail rounded mx-auto"
                width="100"
                v-if="employerInfo.profile_picture != null"
              />
              <h5>{{employerInfo.first_name+" "}}{{employerInfo.middle_name==null?"" :employerInfo.middle_name+" "}}{{employerInfo.last_name}}</h5>
              <p>{{employerInfo.email_address}}</p>
              <p>{{employerInfo.contact_number}}</p>
              <p>{{employerInfo.employer_landline}}</p>
              <p>{{employerInfo.employer_location}}</p>

              <!-- employer info end -->
              <div v-if="isApplied!=='' && role !==''">
                <div v-if="role=='User'">
                  <a
                    href="#"
                    class="btn btn-primary py-2 px-4"
                    v-on:click="applyJob()"
                    v-if="isApplied==false"
                  >Apply Job</a>
                  <a
                    href="#"
                    class="btn btn-warning py-2 px-4"
                    v-on:click="cancelApplication()"
                    v-else
                  >Cancel Application</a>
                </div>
                <div v-else>
                  <div class="row">
                    <div class="col-md-12" style="margin-top: 10px">
                      <a
                        href="javascript:void(0)"
                        class="btn btn-warning py-2 px-4"
                        @click="viewJobApplicants(job_key)"
                      >View Applicants</a>
                    </div>
                    <div class="col-md-12" style="margin-top: 10px" v-if="usersData.id == job_data.created_by ">
                      <a
                        href="javascript:void(0)"
                        class="btn btn-success py-2 px-4"
                        data-toggle="modal"
                        data-target="#editJobProfile"
                      >Edit Job Profile</a>
                    </div>
                  </div>
                </div>
              </div>
              <div v-else>
                <a
                  class="btn btn-primary py-2 px-4"
                  href="#"
                  data-toggle="modal"
                  data-target="#logIn"
                >Apply Job</a>
              </div>
            </div>

            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">
                <strong>Comments</strong>
              </h3>

              <div class="row" v-if="role=='User'">
                <div class = "col-md-12">
                  <form id="commentPost" method="POST" action="#" @submit.prevent="post_comment()">
                      <textarea name="" id="" cols="30" rows="3" v-model="comment"></textarea>
                      <div class = "float-right">
                        <button type = "submit" class = " btn btn-sm btn-success">Send</button>
                      </div>
                      
                  </form>
                  
                </div>
              </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 mt-3">
                            <div class="card" v-for="item in comment_data" :key="item.id" :value="item.id">
                                <div class="card-horizontal">
                                    <div class="img-square-wrapper">
                                        <img class="" :src="base_url+'/uploads/'+item.profile_picture" alt="Card image cap">
                                    </div>
                                    <p><strong>{{item.first_name}}{{item.middle_name =null? '':item.middle_name+" "}}{{item.last_name}}</strong></p>
                                 </div>
                                    <div class="card-body">
                                        
                                        <p class="card-text comment-text">{{item.comment}}</p>
                                    </div>
                               
                                
                            </div>
                        </div>
                    </div>
                </div>


            </div>

          </div>
          
            
        </div>
      </div>
    </div>

     

    <!-- MODAL -->
    <div
      class="modal fade"
      id="editJobProfile"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modelTitleId"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form
              id="job_profile_update"
              method="POST"
              action="#"
              @submit.prevent="updateJobProfile()"
            >
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="job_title">Job Title</label>
                  <input
                    type="text"
                    id="job_title"
                    class="form-control"
                    placeholder="eg. Full Stack Frontend"
                    v-model="jobCurrentData.job_title"
                    required
                  />
                </div>
              </div>
              <div class="row form-group mb-5">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="job_type">Job Type:</label>
                  <select
                    v-model="jobCurrentData.job_type"
                    class="form-control"
                    id="job_type"
                    placeholder="Please Select"
                    required
                  >
                    <option value="Part Time">Part Time</option>
                    <option value="Full Time">Full Time</option>
                    <option value="Free Lance">Free Lance</option>
                  </select>
                </div>
              </div>

              <div class="row form-group mb-5">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="job_type">Job Category:</label>
                  <select
                    class="form-control"
                    id="job_type"
                    placeholder="Please Select"
                    v-model="jobCurrentData.job_category"
                    required
                  >
                    <option
                      v-for="item in jobCategories"
                      :key="item.id"
                      :value="item.id"
                    >{{item.job_category}}</option>
                  </select>
                </div>
              </div>

              <div class="row form-group mb-5">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="location">Location</label>
                  <input
                    type="text"
                    id="location"
                    class="form-control"
                    placeholder="Manila"
                    v-model="jobCurrentData.location"
                    required
                  />
                </div>
              </div>

               <div class="row form-group mb-5">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="location">Salary:</label>
                  <input
                    type="text"
                    id="location"
                    class="form-control"
                    placeholder="Salary"
                    v-model="jobCurrentData.salary"
                  />
                </div>
              </div>

              <div class="row form-group mb-5">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="description">Description</label>
                  <textarea
                    type="text"
                    id="description"
                    class="form-control"
                    v-model="jobCurrentData.job_description"
                    rows="7"
                    required
                  ></textarea>
                </div>
              </div>

              <button type = "button"
                  class="btn btn-success"
                  @click="$refs.file.click()"
                >Upload Profile Picture</button>
                <input
                  type="file"
                  ref="file"
                  style="display: none"
                  @change="handleFileUpload();"
                />

              <div class="row" style="margin-top: 10px;">
                <div class="col-md-12 float-left">
                  <button type="submit" class="btn btn-primary btn-block">Update Service Profile</button>
                </div>
              </div>
              <br />
            </form>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>

    <!-- END OF MODAL -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      jobCategories: [],
      usersData: [],
      employerInfo: [],
      jobCurrentData: {
        job_title: "",
        company: "",
        job_type: "",
        job_category: "",
        job_description: "",
        job_profile_picture: "",
        location: "",
        id: "",
        salary: "",
      },
      job_data: {
        id: "",
        job_title: "",
        company: "",
        job_type: "",
        job_category: "",
        job_description: "",
        location: "",
        created_at: "",  
        created_by: ""

      },
      comment_data: [],
   
      comment: "",
      job_key: "",
      base_url: "",
      isApplied: "",
      role: "",
      file:"",
    };
  },
  computed: {},
  created() {},
  mounted() {
    this.base_url = base_url;
    this.job_key = job_key;
    this.getJobCategories();
    this.setData();
    this.getUser();
    this.getEmployerInfo();
    this.getComment();
  },
  methods: {
    handleFileUpload() {
      this.jobCurrentData.job_profile_picture = this.$refs.file.files[0];
      console.log(this.jobCurrentData.job_profile_picture)
    },
    getJobCategories() {
      const url = `${base_url}job_post/job_categories`;
      axios
        .get(url)
        .then(result => {
          this.jobCategories = result.data.job_categories;
        })

        .catch(function(error) {
          console.log(error);
        });
    },
    viewJobApplicants(job_key) {
      window.location =
        this.base_url + "jobapplication/jobApplicants/?job=" + job_key;
    },

    getEmployerInfo() {
      const url = `${base_url}job_profile/getEmployerInfo`;
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          job_key: this.job_key
        })
        .then(result => {
          this.employerInfo = result.data.employer_info[0];
        })

        .catch(function(error) {
          console.log(error);
        });
    },

     post_comment() {
      const url = `${base_url}job_profile/comment`;
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          job_key: this.job_key,
          comment: this.comment
        })
        .then(result => {
           window.location = this.base_url+"Job_profile/?job="+this.job_key;
        })

        .catch(function(error) {
          console.log(error);
        });
    },

    updateJobProfile() {
      const url = `${base_url}job_profile/job_profile_update`;
      let formData = new FormData();
         this.file = this.$refs.file.files[0];
          console.log(this.file)
      formData.append("jobCurrentData", JSON.stringify(this.jobCurrentData));
      formData.append("job_key", this.job_key);
      formData.append("file", this.file);
      formData.append("token", getCookie("csrf_cookie"));
      axios
        .post(url, formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(result => {
          console.log(result);
          if (result.data.message == "Update Successfuly.") {
            var url = base_url + "job_profile/?job=" + this.job_key;
            notify2("Update Success", "", "success");
            setTimeout(() => {
              window.location = url;
            }, 2000);
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    getComment() {
      const url = `${base_url}job_profile/getComments`;
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          job_key: this.job_key,
     
        })
        .then(result => {
         this.comment_data = result.data;
        })

        .catch(function(error) {
          console.log(error);
        });
    },

    getUser() {
      const url = `${base_url}account/get_user`;
      axios
        .get(url)
        .then(result => {
          this.usersData = result.data.user_data;
        })

        .catch(function(error) {
          console.log(error);
        });
    },
    setData() {
      var url = base_url + "job_profile/get_job_details";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          job_key: this.job_key
        })
        .then(response => {
          this.job_data = response.data.job_details;
          this.isApplied = response.data.is_applied;
          this.role = response.data.role;
          console.log(response.data.job_details);
          //to stop reactive
          var tmp_data = response.data.job_details;
          this.jobCurrentData.job_title = tmp_data.job_title;
          this.jobCurrentData.company = tmp_data.company;
           this.jobCurrentData.location = tmp_data.location;
          this.jobCurrentData.job_type = tmp_data.job_type;
          this.jobCurrentData.salary = tmp_data.salary;
          this.jobCurrentData.job_category = tmp_data.job_category;
          this.jobCurrentData.job_description = tmp_data.job_description;
          this.jobCurrentData.location = tmp_data.location;
          this.jobCurrentData.job_profile_picture =
            tmp_data.job_profile_picture;

        this.job_data.job_profile_picture = base_url+'/uploads/'+tmp_data.job_profile_picture
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    cancelApplication() {
      this.confirm_alert(
        "Are you sure you want cancel your application?",
        "You can still re-apply however you chance of getting hired is lessen",
        "info"
      ).then(response => {
        if (response) {
          var url = base_url + "job_profile/cancel_application";
          axios
            .post(url, {
              token: getCookie("csrf_cookie"),
              job_key: this.job_key
            })
            .then(response => {
              notify2(
                response.data.message,
                "We hope you find the job that makes you happy.",
                "success"
              );
              this.isApplied = false;
            })
            .catch(function(error) {
              console.log(error);
            });
        }
      });
    },
    applyJob() {
      this.confirm_alert(
        "Are you sure you want to apply?",
        "By application to this job, you agree with our <a href='#'>terms and conditions</a>",
        "info"
      ).then(response => {
        if (response) {
          var url = base_url + "job_profile/apply";
          axios
            .post(url, {
              token: getCookie("csrf_cookie"),
              job_key: this.job_key
            })
            .then(response => {
              notify2(
                response.data.message,
                "Please wait for your employer text/call. Thank you!",
                "success"
              );
              this.isApplied = true;
            })
            .catch(function(error) {
              console.log(error);
            });
        }
      });
    },
    confirm_alert(title, text, type) {
      return swal({
        title: title,
        html: text,
        type: type,
        showCancelButton: true,
        reverseButtons: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
      });
    }
  }
};
</script>
