<template>
  <div class="site-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <form
            id="jobpost"
            method="POST"
            action="#"
            @submit.prevent="post_job()"
          >
            <div class="row">
              <div class="col-md-12">
                <span class="text-danger">All fields with * are required</span>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0">
                <label class="font-weight-bold" for="job_title"
                  >I need help on: <span style="color: red">*</span></label
                >
                <select
                  v-model="jobpost_data.job_title"
                  class="form-control"
                  id="job_type"
                  placeholder="Please Select"
                  @change="changeJob()"
                  required
                >
                  <option
                    v-for="(item, index) in jobCategories"
                    :key="index"
                    :value="item.job_category"
                  >
                    {{ item.job_category }}
                  </option>
                  <!-- <option value="Others">Others</option> -->
                </select>
                <!-- <input
                  type="text"
                  id="job_title"
                  class="form-control mt-2"
                  placeholder="eg. Delivery Man"
                  v-model="other_job"
                  v-show="jobpost_data.job_title == 'Others'"
                /> -->
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0">
                <label class="font-weight-bold" for="location"
                  >Where will your task be?
                  <span style="color: red">*</span></label
                >
                <input
                  type="text"
                  id="location"
                  class="form-control mt-2"
                  placeholder="Full Address"
                  v-model="jobpost_data.address"
                  required
                />
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0">
                <label class="font-weight-bold" for="location"
                  >Landmark: <span style="color: red">*</span></label
                >
                <input
                  type="text"
                  id="location"
                  class="form-control mt-2"
                  placeholder="Blk number/street number/house number"
                  v-model="jobpost_data.landmark"
                  required
                />
              </div>
            </div>
            <div class="row form-group">
              <div class="col-8 mb-3 mb-md-0">
                <label class="font-weight-bold" for="location"
                  >Your Offer: <span style="color: red">*</span></label
                >
                <input
                  type="number"
                  id="location"
                  class="form-control"
                  placeholder="Service Fee"
                  :min="selectedJob.min_salary"
                  :max="selectedJob.max_salary"
                  v-model="jobpost_data.service_fee"
                />
              </div>
              <div class="col-4 mb-3 mb-md-0">
                <label class="font-weight-bold" for="location"
                  >Rate: <span style="color: red">*</span></label
                >
                <select
                  name=""
                  id=""
                  class="form-control"
                  v-model="jobpost_data.rate"
                >
                  <option value="Hourly">Hourly</option>
                  <option value="Daily">Daily</option>
                  <option value="Once the job is done">
                    Once the job is done
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p v-show="selectedJob.id != null">
                  Suggested Rate: Min: P{{ selectedJob.min_salary }} to Max: P{{
                    selectedJob.max_salary
                  }}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="font-weight-bold"
                    >Preferred ETA: <span style="color: red">*</span></label
                  >
                  <datetime
                    type="datetime"
                    v-model="jobpost_data.prefer_date"
                  ></datetime>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="font-weight-bold"
                    >Expires at: <span style="color: red">*</span></label
                  >
                  <datetime
                    type="datetime"
                    v-model="jobpost_data.expiry"
                  ></datetime>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="font-weight-bold"
                    >Age/Gender/etc: <span style="color: red">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    v-model="jobpost_data.gender"
                  />
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0">
                <label class="font-weight-bold" for="description"
                  >Instructions <span style="color: red">*</span></label
                >
                <textarea
                  type="text"
                  id="description"
                  class="form-control"
                  v-model="jobpost_data.job_description"
                  rows="7"
                  placeholder="Tell us more regarding the service you want us to do"
                  required
                ></textarea>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12">
                <input
                  type="submit"
                  value="Post Service Offer"
                  class="btn btn-primary py-2 px-5"
                />
              </div>
            </div>
          </form>
        </div>

        <div class="col-lg-4">
          <!-- <div class="p-4 mb-3 bg-white">
            <h3 class="h5 text-black mb-3">Contact Info</h3>
            <p class="mb-0 font-weight-bold">Address</p>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

            <p class="mb-0 font-weight-bold">Phone</p>
            <p class="mb-4">
              <a href="#">+1 232 3235 324</a>
            </p>

            <p class="mb-0 font-weight-bold">Email Address</p>
            <p class="mb-0">
              <a href="#">youremail@domain.com</a>
            </p>
          </div>-->

          <div class="p-4 mb-3 bg-white">
            <h3 class="h5 text-black mb-3">Tap Helper</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad
              iure porro mollitia architecto hic consequuntur. Distinctio nisi
              perferendis dolore, ipsa consectetur
            </p>
            <p>
              <a href="#" class="btn btn-primary py-2 px-4">Learn More</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "vue-datetime/dist/vue-datetime.css";
import { Datetime } from "vue-datetime";
export default {
  components: {
    datetime: Datetime,
  },
  data() {
    return {
      user_data: [],
      base_url: base_url,
      jobpost_data: {
        job_title: "",
        area_code: "SPC",
        job_description: "",
        landmark: "",
        service_fee: "",
        expiry: "",
        rate: "Hourly",
        gender: "",
        prefer_date: "",
        image: "",
      },
      file: "",
      jobCategories: [],
      item: "",
      areas: [],
      other_job: "",
      selectedJob: "",
    };
  },
  computed: {},
  created() {},
  mounted() {
    this.getUser();
    this.getJobCategories();
    this.getAreas();
  },
  methods: {
    changeJob() {
      this.jobCategories.forEach((item, index) => {
        if (item.job_category == this.jobpost_data.job_title) {
          this.selectedJob = item;
        }
      });
    },
    getUser() {
      var url = base_url + "account/get_user";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
        })
        .then((response) => {
          this.user_data = response.data.user_data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    getJobCategories() {
      const url = `${base_url}jobs/job_categories`;
      axios
        .get(url)
        .then((result) => {
          this.jobCategories = result.data.job_categories;
        })

        .catch(function (error) {
          console.log(error);
        });
    },
    getAreas() {
      const url = `${base_url}areas/get_areas`;
      axios
        .get(url)
        .then((result) => {
          this.areas = result.data.areas;
        })

        .catch(function (error) {
          console.log(error);
        });
    },
    handleFileUpload() {
      this.jobpost_data.image = this.$refs.file.files[0];
    },
    post_job() {
      loading();
      const url = `${base_url}job_post/post_job`;
      if (this.other_job != "") {
        this.jobpost_data.job_title = this.other_job;
      }
      let formData = new FormData();
      formData.append("jobpost_data", JSON.stringify(this.jobpost_data));
      formData.append("file", this.jobpost_data.image);
      formData.append("token", getCookie("csrf_cookie"));
      axios
        .post(url, formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((result) => {
          if (result.data.message == "success") {
            var url = base_url + "jobs";
            notify2("Post Service Success", "", "success");
            setTimeout(() => {
              close_loading();
              window.location = url;
            }, 2000);
          } else {
            notify2("Post Service Failed", "Please try again", "error");
          }
        })
        .catch(function (error) {
          close_loading();
          console.log(error);
        });
    },
  },
};
</script>
