<template>
  <div>
    <div class="modal" id="viewJobModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Services Details</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form
              id="jobpost"
              method="POST"
              action="#"
              @submit.prevent="updateJob()"
            >
              <div class="row form-group">
                <div
                  class="col-md-7 mb-3 mb-md-0"
                  v-if="user_data.role == 'Employer'"
                >
                  <label class="font-weight-bold" for="job_title"
                    >Worker:
                  </label>
                  <p class="mb-0" v-if="jobpost_data.worker_id">
                    {{ jobpost_data.first_name + " " + jobpost_data.last_name }}
                  </p>
                  <p class="mb-0" v-else>No assigned worker</p>
                  <p>{{ jobpost_data.contact_number }}</p>
                </div>
                <div class="col-md-7 mb-3 mb-md-0" v-else>
                  <label class="font-weight-bold" for="job_title"
                    >Household Owner:
                  </label>
                  <p class="mb-0" v-if="jobpost_data.user_id">
                    {{ jobpost_data.first_name + " " + jobpost_data.last_name }}
                  </p>
                  <p>{{ jobpost_data.contact_number }}</p>
                </div>
                <div class="col-md-5 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="job_title"
                    >Status: <span style="color: red">*</span></label
                  >
                  <select
                    name=""
                    id=""
                    class="form-control"
                    v-model="jobpost_data.status"
                  >
                    <option value="Pending">Pending</option>
                    <option value="Confirmed">Confirmed</option>
                    <option value="On Process">On Process</option>
                    <option value="Completed">Completed</option>
                    <option value="Cancelled">Cancelled</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <img
                    :src="`${base_url + 'assets/images/sample_id.jpg'}`"
                    class="img-fluid"
                    alt=""
                    v-show="jobpost_data.worker_id"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <img
                    :src="`${
                      base_url + 'assets/images/barangay_clearance.jpg'
                    }`"
                    class="img-fluid"
                    alt=""
                    v-show="jobpost_data.worker_id"
                  />
                </div>
              </div>
              <div
                v-if="
                  jobpost_data.status == 'Completed' &&
                  user_data.role == 'Employer'
                "
              >
                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                    <label class="font-weight-bold" for="description"
                      >Share your taphelper experience:</label
                    >
                    <textarea
                      type="text"
                      id="description"
                      class="form-control"
                      v-model="jobpost_data.feedback"
                      rows="5"
                    ></textarea>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                    <star-rating
                      v-model="jobpost_data.rating"
                      :increment="1"
                      :star-size="20"
                    ></star-rating>
                  </div>
                </div>
              </div>
              <div
                v-if="
                  jobpost_data.status == 'Completed' &&
                  user_data.role == 'Worker' &&
                  jobpost_data.feedback != ''
                "
              >
                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                    <label class="font-weight-bold" for="description"
                      >Household owner feedback:</label
                    >
                    <textarea
                      type="text"
                      id="description"
                      class="form-control"
                      v-model="jobpost_data.feedback"
                      rows="5"
                      readonly
                    ></textarea>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                    <star-rating
                      v-model="jobpost_data.rating"
                      :increment="1"
                      :star-size="20"
                      :read-only="true"
                    ></star-rating>
                  </div>
                </div>
              </div>
              <hr />
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="job_title"
                    >I need help on: <span style="color: red">*</span></label
                  >
                  <input
                    type="text"
                    id="job_title"
                    class="form-control mt-2"
                    v-model="jobpost_data.job_title"
                    readonly
                  />
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="location"
                    >Where will your task be?
                    <span style="color: red">*</span></label
                  >
                  <input
                    type="text"
                    id="location"
                    class="form-control mt-2"
                    placeholder="Full Address"
                    v-model="jobpost_data.address"
                    :readonly="user_data.role == 'Worker'"
                  />
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="location"
                    >Landmark: <span style="color: red">*</span></label
                  >
                  <input
                    type="text"
                    id="location"
                    class="form-control mt-2"
                    placeholder="Landmark"
                    v-model="jobpost_data.landmark"
                    :readonly="user_data.role == 'Worker'"
                  />
                </div>
              </div>

              <div class="row form-group">
                <div class="col-6 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="location"
                    >Offer: <span style="color: red">*</span></label
                  >
                  <input
                    type="text"
                    id="location"
                    class="form-control"
                    placeholder="Service Fee"
                    v-model="jobpost_data.service_fee"
                    :readonly="user_data.role == 'Worker'"
                  />
                </div>
                <div class="col-6 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="location"
                    >Rate: <span style="color: red">*</span></label
                  >
                  <select
                    name=""
                    id=""
                    class="form-control"
                    v-model="jobpost_data.rate"
                    :readonly="user_data.role == 'Worker'"
                  >
                    <option value="Hourly">Hourly</option>
                    <option value="Daily">Daily</option>
                    <option value="Once the service is done">
                      Once the service is done
                    </option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="font-weight-bold"
                      >Preferred ETA: <span style="color: red">*</span></label
                    >
                    <input
                      type="text"
                      v-model="jobpost_data.prefer_date"
                      class="form-control"
                      :readonly="user_data.role == 'Worker'"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="font-weight-bold"
                      >Expires at: <span style="color: red">*</span></label
                    >
                    <input
                      type="text"
                      v-model="jobpost_data.expiry"
                      class="form-control"
                      :readonly="user_data.role == 'Worker'"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="font-weight-bold"
                      >Age/Gender/etc: <span style="color: red">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      v-model="jobpost_data.gender"
                      :readonly="user_data.role == 'Worker'"
                    />
                  </div>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="description"
                    >Instructions <span style="color: red">*</span></label
                  >
                  <textarea
                    type="text"
                    id="description"
                    class="form-control"
                    v-model="jobpost_data.job_description"
                    rows="7"
                    :readonly="user_data.role == 'Worker'"
                  ></textarea>
                </div>
              </div>
              <img
                :src="`${base_url + jobpost_data.image}`"
                alt=""
                v-if="jobpost_data.image != ''"
                class="img-fluid d-block mx-auto mb-2"
              />
              <div class="row form-group">
                <div class="col-md-12">
                  <input
                    type="submit"
                    value="Update Service Offer"
                    class="btn btn-primary py-2 px-5 w-100"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section bg-light">
      <div class="container jobs_container">
        <div class="row">
          <div class="col-md-12">
            <h3>MyServices</h3>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-12">
            <div
              class="card flex-row flex-wrap mt-2 product_container"
              v-for="(job, index) in displayedjobs"
              :key="index"
            >
              <!--<div class="card-header border-0" v-if="product.image_link != ''">
                        <div v-lazy-container="{ selector: 'img' }">
                           <img :data-src="
                        transformImgExt(product_image_url, product.image_link)
                      " :data-error="`${baseurl}uploads/no_image.png`" />
                        </div>
                     </div> -->
              <div
                class="card-block px-2 product_name_container"
                style="width: 90%"
              >
                <p class="card-text mb-0">
                  <b style="text-transform: uppercase"
                    >{{ job.job_title }} - PHP{{ job.service_fee }} /
                    {{ job.rate }}</b
                  ><small></small>
                </p>
                <span class="badge badge-success">{{ job.status }}</span>
                <p class="mb-0">{{ job.address }}</p>
              </div>
              <button
                class="btn btn-primary float-right"
                style="
                  position: absolute;
                  right: 0;
                  height: 100%;
                  border-radius: 0px;
                "
                @click="viewJob(job)"
              >
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
              <div class="w-100"></div>
              <div class="card-footer w-100 text-muted px-2">
                <p class="mb-0">
                  <i class="fa fa-clock-o" aria-hidden="true"></i> ETA:
                  {{ job.prefer_date }}
                </p>
                <p class="mb-0">
                  <i class="fa fa-clock-o" aria-hidden="true"></i> Expires:
                  {{ job.expiry }}
                </p>
              </div>
            </div>

            <nav aria-label="Page navigation example ">
              <ul class="pagination mt-3">
                <li class="page-item">
                  <button
                    type="button"
                    class="page-link"
                    v-if="page != 1"
                    @click="page--"
                  >
                    Previous
                  </button>
                </li>
                <li class="page-item">
                  <button
                    type="button"
                    class="page-link"
                    v-for="(pageNumber, index) in pages.slice(
                      page - 1,
                      page + 5
                    )"
                    @click="page = pageNumber"
                    :key="index"
                  >
                    {{ pageNumber }}
                  </button>
                </li>
                <li class="page-item">
                  <button
                    type="button"
                    @click="page++"
                    v-if="page < pages.length"
                    class="page-link"
                  >
                    Next
                  </button>
                </li>
              </ul>
            </nav>
            <div v-if="displayedjobs.length == 0">
              <p>
                You hae no pending service,
                <a :href="`${base_url}`">check available services list</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.pre-formatted {
  white-space: pre-line;
}

.order_actions button {
  display: inline-block;
}

.jobs_container [name="el-table_1_column_1"] {
  width: 50% !important;
}

.jobs_container [name="el-table_1_column_2"] {
  width: 20% !important;
}

.jobs_container [name="el-table_1_column_3"] {
  width: 30% !important;
}

@media (max-width: 991px) {
  .mobile_order_status {
    display: block;
  }

  .payment_method_container {
    display: none;
  }

  .mobile_payment_method_container {
    display: block;
  }
}

@media (max-width: 650px) {
  .view_restaurant [name="el-table_1_column_3"],
  .el-table_1_column_3 {
    display: table-cell !important;
  }
}
</style>

<script>
import StarRating from "vue-star-rating";
export default {
  components: {
    StarRating,
  },
  data() {
    return {
      user_data: [],
      applyData: [],
      base_url: "",
      jobs: [],
      page: 1,
      perPage: 10,
      pages: [],
      jobpost_data: [],
    };
  },
  computed: {
    displayedjobs() {
      return this.paginate(this.jobs);
    },
  },
  watch: {
    jobs() {
      this.setPages();
    },
  },
  created() {},
  mounted() {
    this.base_url = base_url;
    this.getUser();
  },
  methods: {
    updateJob() {
      var url = base_url + "jobs/update_job";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          jobpost_data: this.jobpost_data,
          rating: this.rating,
          feedback: this.feedback,
        })
        .then((response) => {
          notify2("Successfully Updated", "", "success");
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    getUser() {
      var url = base_url + "account/get_user";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
        })
        .then((response) => {
          this.user_data = response.data.user_data;
        })
        .then(() => {
          this.getjobs();
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    viewJob(job) {
      var tmp_job = job;
      this.jobpost_data = tmp_job;
      this.jobpost_data.rating = parseInt(this.jobpost_data.rating);
      setTimeout(() => {
        $("#viewJobModal").modal("show");
      });
    },
    getjobs() {
      let data = [];
      var url = base_url + "jobs/my_jobs";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          role: this.user_data.role,
        })
        .then((response) => {
          this.jobs = response.data.jobs;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    setPages() {
      let numberOfPages = Math.ceil(this.jobs.length / this.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index);
      }
    },
    paginate(jobs) {
      let page = this.page;
      let perPage = this.perPage;
      let from = page * perPage - perPage;
      let to = page * perPage;
      return jobs.slice(from, to);
    },
    setData() {
      var url = base_url + "jobs/job_categories";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
        })
        .then((response) => {
          this.jobCategories = response.data.job_categories;
          this.popularJobs = response.data.popular_jobs;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>
