
<template>
  <div>
    <div style="height: 40px;"></div>

    <div class="site-section bg-light">
      <div class="container jobs_container">
        <div class="row">
          <!-- search jobs with for filter -->
          <!-- Flood jobs newly posted to old -->
          <data-tables :data="applyData" style="width: 100%">
            <el-table-column label="Job" prop="created_at">
              <template slot-scope="scope">
                <h4>{{scope.row.job_title}}</h4>
                <div class="d-block d-lg-flex">
                  <div class="mr-3">
                    <span class="icon-suitcase mr-1"></span>
                    {{scope.row.company}}
                  </div>
                  
                  <div>
                     {{scope.row.location}}  
                  </div>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Status" prop="status">
              <template slot-scope="scope">
                <div class="job-category align-self-center">
                  <div class="p-3">
                    <span class="text-info p-2 rounded border border-info">{{scope.row.status}}</span>
                  </div>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Actions" prop="actions">
              <template slot-scope="scope">
                <div class="ml-auto d-flex">
                  <a href="javascript:void(0);" class="btn btn-primary py-2 mr-1" @click="viewJob(scope.row.id)">View Job</a>
                </div>
              </template>
            </el-table-column>
          </data-tables>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.pre-formatted {
  white-space: pre-line;
}

.order_actions button {
  display: inline-block;
}
.jobs_container [name="el-table_1_column_1"] {
  width: 60% !important;
}
.jobs_container [name="el-table_1_column_2"] {
  width: 20% !important;
}
.jobs_container [name="el-table_1_column_3"] {
  width: 20% !important;
}
@media (max-width: 991px) {
  .mobile_order_status {
    display: block;
  }
  .payment_method_container {
    display: none;
  }
  .mobile_payment_method_container {
    display: block;
  }
}
@media (max-width: 650px) {
  .view_restaurant [name="el-table_1_column_3"],
  .el-table_1_column_3 {
    display: table-cell !important;
  }
}
</style>
<script>
export default {
  data() {
    return {
     
      applyData: [],
      base_url: "",
    
    };
  },
  computed: {},
  created() {},
  mounted() {
    this.base_url = base_url
    this.setTable();
  },

  methods: {
       
    viewJob(job_key) {
       window.location = this.base_url + 'job_profile/?job='+job_key
  
    
    },
   
    setTable() {
      const url = `${base_url}job_application/getMyApply`;
      axios
        .get(url)
        .then(result => {
          this.applyData = result.data;
          console.log(this.applyData)
        })

        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>
