
<template>
  <div>
    <div style="height: 40px;"></div>

    <div class="site-section bg-light">
      <div class="container jobs_container">
        <div class="row">
          <!-- search jobs with for filter -->
          <!-- Flood jobs newly posted to old -->
          <data-tables :data="applyData" style="width: 100%">
            <el-table-column label="Name" prop="created_at">
              <template slot-scope="scope">
                <h4>{{scope.row.full_name}}</h4>
                <div class="d-block d-lg-flex">
                  <div class="mr-3">
                    <span class="icon-suitcase mr-1"></span>
                    {{scope.row.job_title}}
                  </div>
                  
                  <div>
                    <!-- <span class="icon-money mr-1"></span>  Pesos {{scope.row.location}} &mdash;  -->
                  </div>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Job Type" prop="job_type">
              <template slot-scope="scope">
                <div class="job-category align-self-center">
                  <div class="p-3">
                    <span class="text-info p-2 rounded border border-info">{{scope.row.job_type}}</span>
                  </div>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Actions" prop="actions">
              <template slot-scope="scope">
                <div class="ml-auto d-flex">
                  <a href="javascript:void(0);" class="btn btn-primary py-2 mr-1" @click="viewApplicant(scope.row.id,scope.row.applyId)">View Applicant</a>
                  <a
                    href="#"
                    class="btn btn-secondary rounded-circle btn-favorite d-flex align-items-center icon"
                    @click="approve(scope.row.applyId)"
                  >
                    <i class = "fa fa-check"></i>
                  </a>
                  <a
                    href="#"
                    class="btn btn-secondary rounded-circle btn-favorite d-flex align-items-center icon"
                    @click="rejectApplicant(scope.row.applyId)"
                  >
                    <i class="fa fa-times"></i>
                  </a>
                </div>
              </template>
            </el-table-column>
          </data-tables>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.pre-formatted {
  white-space: pre-line;
}

.order_actions button {
  display: inline-block;
}
.jobs_container [name="el-table_1_column_1"] {
  width: 55% !important;
}
.jobs_container [name="el-table_1_column_2"] {
  width: 20% !important;
}
.jobs_container [name="el-table_1_column_3"] {
  width: 25% !important;
}
@media (max-width: 991px) {
  .mobile_order_status {
    display: block;
  }
  .payment_method_container {
    display: none;
  }
  .mobile_payment_method_container {
    display: block;
  }
}
@media (max-width: 650px) {
  .view_restaurant [name="el-table_1_column_3"],
  .el-table_1_column_3 {
    display: table-cell !important;
  }
}
</style>
<script>
export default {
  data() {
    return {
        job_key:job_key,
      applyData: [],
      base_url: "",
    
    };
  },
  computed: {},
  created() {},
  mounted() {
    this.base_url = base_url
    this.setTable();
  },

  methods: {
       
    viewApplicant(id,applyId) {
      window.location = this.base_url + 'Jobapplication/Applicant/?profile='+id+'&apply='+applyId;
    },

     approve(applyId) {
       var url = base_url + "Jobapplication/approve";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          applyId: applyId,
        })
        .then(response => {
              var url = base_url + "Jobapplication";
              notify2(response.data.message, "", "success");
              setTimeout(()=>{
                 window.location = url;
              },2000)
         
        })
        .catch(function(error) {
          console.log(error);
        });
    },

     rejectApplicant(applyId,index) {
      var url = base_url + "jobapplication/reject_applicant";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          applyId: applyId
        })
        .then(response => {
          var tmp_data = this.applyData[index];
          this.applyData[index].status = "Rejected";
          var applicant_name = tmp_data.full_name;
          notify2(applicant_name+" is rejected", "We are sorry to hear that.", "success");
        })
        .catch(function(error) {
          console.log(error);
        });
    },
   
    setTable() {
      const url = `${base_url}Jobapplication/getSpecificJobApplicants`;
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          job_key: this.job_key
        })
        .then(result => {
          this.applyData = result.data;
          console.log(this.applyData)
        })

        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>
