
<template>
  <div>
    <div style="height: 40px;"></div>

    <div class="site-section bg-light">
      <div class="container jobs_container">
        <div class="row">
          <div style="margin-bottom: 10px;width: 100%">
            <el-row style="width: 100%">
              <el-col style="width: 100%">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter any job you want"
                  v-model="filters[0].value"
                />
              </el-col>
            </el-row>
          </div>
          <data-tables :data="jobData" style="width: 100%" :filters="filters">
            <el-table-column label="Name" prop="job_title">
              <template slot-scope="scope">
                <h4>{{scope.row.job_title}}</h4>
                <div class="d-block d-lg-flex">
                  <div class="mr-3">
                    <span class="icon-suitcase mr-1"></span>
                    {{scope.row.company}}
                  </div>
                  <div class="mr-3">
                    <span class="icon-room mr-1"></span>
                    {{scope.row.location}}
                  </div>
                  <div>
                    <!-- <span class="icon-money mr-1"></span> $55000 &mdash; 70000 -->
                  </div>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Job Type" prop="job_type">
              <template slot-scope="scope">
                <div class="job-category align-self-center">
                  <div class="p-3">
                    <span class="text-info p-2 rounded border border-info">{{scope.row.job_type}}</span>
                  </div>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Actions" prop="actions">
              <template slot-scope="scope">
                <div class="ml-auto d-flex">
                  <a
                    href="javascript:void(0);"
                    class="btn btn-primary py-2 mr-1"
                    @click="applyJob(scope.row.job_key)"
                  >View Service</a>
                  <a
                    href="#"
                    class="btn btn-secondary rounded-circle btn-favorite d-flex align-items-center icon"
                    @click="addToBookmarks(scope.row.job_key)"
                  v-if="usersData.role == 'User'">
                    <span class="icon-heart"></span>
                  </a>
                </div>
              </template>
            </el-table-column>
          </data-tables>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.pre-formatted {
  white-space: pre-line;
}

.order_actions button {
  display: inline-block;
}
.jobs_container [name="el-table_1_column_1"] {
  width: 40% !important;
}
.jobs_container [name="el-table_1_column_2"] {
  width: 30% !important;
}
.jobs_container [name="el-table_1_column_3"] {
  width: 30% !important;
}
@media (max-width: 901px) {
  .mobile_order_status {
    display: block;
  }
  .payment_method_container {
    display: none;
  }
  .mobile_payment_method_container {
    display: block;
  }
}
@media (max-width: 960px) {
  .view_restaurant [name="el-table_1_column_3"],
  .el-table_1_column_3 {
    display: table-cell !important;
  }
}
</style>
<script>
export default {
  data() {
    return {
      usersData: [],
      jobs: [],
      jobData: [],
      base_url: "",
      category: category,
      filters: [
        {
          prop: "job_title",
          value: ""
        }
      ]
    };
  },
  computed: {},
  created() {},
  mounted() {
    this.base_url = base_url;
    if(job_title != "") {
      this.filters[0].value= job_title
    }
    this.setTable();
    this.getUser();
  },

  methods: {

     getUser(){
       const url = `${base_url}account/get_user`;
      axios
        .get(url)
        .then(result => {
          this.usersData = result.data.user_data;
    
        })

        .catch(function(error) {
          console.log(error);
        });
    },
    applyJob(job_key) {
      window.location = this.base_url + "Job_profile/?job=" + job_key;
    },
    addToBookmarks(job_key) {
      var url = this.base_url + "jobs/bookmark";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          job_key: job_key
        })
        .then(response => {
          console.log(response);
          if (response.data.message == "Added to bookmark.") {
            notify2(response.data.message, "", "success");
          } else if (response.data.message == "Removed to bookmark.") {
            notify2(response.data.message, "", "success");
          } else {
            notify2("Authentication Failed", "Please try again", "error");
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    setTable() {
      const url = `${base_url}Jobs/jobs?c=${this.category}`;
      axios
        .get(url)
        .then(result => {
          this.jobData = result.data;
        })

        .catch(function(error) {
          console.log(error);
        });
    }
    
  }
 
};
</script>
