<template>
<div>
   <div class="container mt-2">
      <div class="col-10 offset-1">
         <img :src="`${base_url}assets/images/taphelper_logo.png`" alt="taphelper logo" class="img-fluid d-block mx-auto">
         <h1 class="text-center">Welcome to TapHelper</h1>
         <form id="log_in" method="POST" action="#" @submit.prevent="login()">
            <div class="row form-group">
               <div class="col-md-12 mb-3 mb-md-0">
                  <input type="text" id="email" name="email" class="form-control" placeholder="Enter your email address" v-model="login_data.email" required />
               </div>
            </div>

            <div class="row form-group">
               <div class="col-md-12 mb-3 mb-md-0">
                  <input type="password" id="passwword" name="passwword" class="form-control" placeholder="Password" v-model="login_data.password" required />
               </div>
            </div>

            <div class="row">
               <div class="col-md-12 float-left">
                  <button type="submit" class="btn btn-primary btn-block">Log in</button>
               </div>
            </div>
            <br />
            <div class="row">
               <div class="col-md-12">
                  <p class="text-center">
                     New user?
                     <a :href="`${base_url}register`">Sign up FREE Now</a>
                  </p>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
</template>

<script>
export default {
   data() {
      return {
         base_url: base_url,
         login_data: {
            email: "",
            password: ""
         },
         test: ""
      };
   },
   computed: {},
   created() {},
   mounted() {},
   methods: {
      login() {
         loading()
         var url = base_url + "account/login";
         axios
            .post(
               url, {
                  token: getCookie("csrf_cookie"),
                  login_data: this.login_data,
               }
            )
            .then(response => {
               if (response.data.message == "success") {
                  close_loading();
                  var url = base_url;
                  window.location = url;
               } else {
                  notify2("Authentication Failed", response.data.message, "error")
               }

            })
            .catch(function (error) {
               console.log(error);
            });
      }
   }
};
</script>
