<template>
<div>
   <nav class="navbar navbar-expand-lg navbar-light  navbar-static-top ">
      <div class="container">
         <a class="navbar-brand " :href="base_url">
            <img :src="`${base_url + 'assets/images/taphelper_logo_mini.png'}`" class=" rounded mx-auto" width="100" />
         </a>

         <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent" v-if="user_data.role=='Employer'">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item mr-2">
                  <a :href="`${base_url + 'job_post'}`">
                     <button class="btn btn-outline-success my-2 my-sm-0">
                        Create Service Offer
                     </button>
                  </a>
               </li>
               <li class="nav-item mr-2">
                  <a :href="`${base_url + 'jobs'}`">
                     <button class="btn btn-outline-success my-2 my-sm-0">
                        MyServices
                     </button>
                  </a>
               </li>
               <li class="nav-item mr-2">
                  <a :href="`${base_url + 'user_profile'}`">
                     <button class="btn btn-outline-success my-2 my-sm-0">
                        Profile
                     </button>
                  </a>
               </li>
               <li class="nav-item">
                  <a :href="`${base_url + 'account/logout'}`">
                     <button class="btn btn-outline-success my-2 my-sm-0">
                        Logout
                     </button>
                  </a>
               </li>
            </ul>
         </div>
         <div class="collapse navbar-collapse" id="navbarSupportedContent" v-if="user_data.role=='Worker'">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item mr-2">
                  <a :href="`${base_url + 'jobs'}`">
                     <button class="btn btn-outline-success my-2 my-sm-0">
                        MyServices
                     </button>
                  </a>
               </li>
               <li class="nav-item mr-2">
                  <a :href="`${base_url + 'user_profile'}`">
                     <button class="btn btn-outline-success my-2 my-sm-0">
                        Profile
                     </button>
                  </a>
               </li>
               <li class="nav-item">
                  <a :href="`${base_url + 'account/logout'}`">
                     <button class="btn btn-outline-success my-2 my-sm-0">
                        Logout
                     </button>
                  </a>
               </li>
            </ul>
         </div>
         <div class="collapse navbar-collapse" id="navbarSupportedContent" v-if="user_data.role=='Admin' || user_data.role=='admin'">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                  <a :href="`${base_url + 'account/logout'}`">
                     <button class="btn btn-outline-success my-2 my-sm-0">
                        Logout
                     </button>
                  </a>
               </li>
            </ul>
         </div>

         <div class="collapse navbar-collapse" id="navbarSupportedContent" v-if="user_data.role=='' || user_data.role== null || user_data.role==undefined">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item mr-2">
                  <a :href="`${base_url + 'login'}`">
                     <button class="btn btn-outline-success my-2 my-sm-0">
                        Login
                     </button>
                  </a>
               </li>
               <li class="nav-item">
                  <a :href="`${base_url + 'register'}`">
                     <button class="btn btn-outline-success my-2 my-sm-0">
                        Register
                     </button>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</div>
</template>

<script>
export default {
   data() {
      return {
         user_data: [],
         base_url: "",
         notification: []
      };
   },
   created() {
      this.base_url = base_url;
      //  this.getNotification();
   },
   mounted() {
      this.getUser();
   },
   methods: {
      getUser() {
         var url = base_url + "account/get_user";
         axios
            .post(url, {
               token: getCookie("csrf_cookie")
            })
            .then(response => {
               this.user_data = response.data.user_data;
            })
            .catch(function (error) {
               console.log(error);
            });
      },

      getNotification() {
         var url = base_url + "account/getNotification";
         axios
            .post(url, {
               token: getCookie("csrf_cookie")
            })
            .then(response => {
               this.notification = response.data;

               console.log(this.notification);
            })
            .catch(function (error) {
               console.log(error);
            });
      }
   }
};
</script>
