<template>
  <div>
    <div class="container mt-2">
      <div class="col-10 offset-1">
        <img
          :src="`${base_url}assets/images/taphelper_logo.png`"
          alt="taphelper logo"
          class="img-fluid d-block mx-auto"
        />
        <h1 class="text-center">Welcome to TapHelper</h1>
        <form
          id="registration"
          method="POST"
          action="#"
          @submit.prevent="register()"
        >
          <div class="row">
            <div class="col-md-12">
              <span class="text-danger">All fields with * are required</span>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  value="Employer"
                  id="Employer"
                  v-model="registration_data.role"
                />
                <label class="form-check-label" for="Employer">
                  Household Owner (Need a helping hand?)
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  value="Worker"
                  id="Worker"
                  v-model="registration_data.role"
                />
                <label class="form-check-label" for="Worker">
                  Worker (Looking for a Job ?)
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="text"
                  id="registration_first_name"
                  name="first_name"
                  class="form-control"
                  placeholder="First Name *"
                  v-model="registration_data.first_name"
                  required
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="text"
                  id="registration_last_name"
                  class="form-control"
                  placeholder="Last Name *"
                  v-model="registration_data.last_name"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <input
                type="text"
                id="registration_contact_number"
                class="form-control"
                placeholder="Street number, Blk. Lot, House Number *"
                v-model="registration_data.address"
                required
              />
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <select name="" id="" v-model="registration_data.baranggay" required class="form-control">
                <option value="">Select Baranggay *</option>
                <option value="I-A (Sambat)">I-A (Sambat)</option>
                <option value="I-B">I-B</option>
                <option value="II-A (Triangulo)">II-A (Triangulo)</option>
                <option value="II-B (Guadalupe)">II-B (Guadalupe)</option>
                <option value="II-C">II-C</option>
                <option value="II-D">II-D</option>
                <option value="II-E (San Anton)">II-E (San Anton)</option>
                <option value="II-F (Villa Rey)">II-F (Villa Rey)</option>
                <option value="III-A (Hermanos Belen)">III-A (Hermanos Belen)</option>
                <option value="III-B">III-B</option>
                <option value="III-C (Labak/De Roma)">III-C (Labak/De Roma)</option>
                <option value="III-D">III-D</option>
                <option value="III-E">III-E</option>
                <option value="III-F (Balagtas)">III-F (Balagtas)</option>
                <option value="IV-A">IV-A</option>
                <option value="IV-B">IV-B</option>
                <option value="IV-C">IV-C</option>
                <option value="V-A">V-A</option>
                <option value="V-B">V-B</option>
                <option value="V-C">V-C</option>
                <option value="V-D">V-D</option>
                <option value="VI-A (Mavenida)">VI-A (Mavenida)</option>
                <option value="VI-B">VI-B</option>
                <option value="VI-D (Lparkers)">VI-D (Lparkers)</option>
                <option value="VI-E">VI-E</option>
                <option value="VII-A">VII-A</option>
                <option value="VII-B">VII-B</option>
                <option value="VII-C">VII-C</option>
                <option value="VII-D">VII-D</option>
                <option value="VII-E">VII-E</option>
                <option value="Atisan">Atisan</option>
                <option value="Bagong Bayan (I-C)">Bagong Bayan (I-C)</option>
                <option value="Bagong Pook (VI-C)">Bagong Pook (VI-C)</option>
                <option value="Bautista">Bautista</option>
                <option value="Concepcion (Bunot)">Concepcion (Bunot)</option>
                <option value="Del Remedio (Wawa)">Del Remedio (Wawa)</option>
                <option value="Dolores">Dolores</option>
                <option value="San Antonio 1 (Balanga)">San Antonio 1 (Balanga)</option>
                <option value="San Antonio 2 (Sapa)">San Antonio 2 (Sapa)</option>
                <option value="San Bartolome (Matang-ag)">San Bartolome (Matang-ag)</option>
                <option value="San Buenaventura (Palakpakin)">San Buenaventura (Palakpakin)</option>
                <option value="San Crispin (Lumbangan)">San Crispin (Lumbangan)</option>
                <option value="San Cristobal">San Cristobal</option>
                <option value="San Diego (Tiim)">San Diego (Tiim)</option>
                <option value="San Francisco (Calihan)">San Francisco (Calihan)</option>
                <option value="San Gabriel (Butucan)">San Gabriel (Butucan)</option>
                <option value="San Gregorio">San Gregorio</option>
                <option value="San Ignacio">San Ignacio</option>
                <option value="San Isidro (Balagbag)">San Isidro (Balagbag)</option>
                <option value="San Joaquin">San Joaquin</option>
                <option value="San Jose (Malamig)">San Jose (Malamig)</option>
                <option value="San Juan">San Juan</option>
                <option value="San Lorenzo (Saluyan)">San Lorenzo (Saluyan)</option>
                <option value="San Lucas 1 (Malinaw)">San Lucas 1 (Malinaw)</option>
                <option value="San Lucas 2">San Lucas 2</option>
                <option value="San Marcos (Tikew)">San Marcos (Tikew)</option>
                <option value="San Mateo">San Mateo</option>
                <option value="San Miguel">San Miguel</option>
                <option value="San Nicolas">San Nicolas</option>
                <option value="San Pedro">San Pedro</option>
                <option value="San Rafael">San Rafael</option>
                <option value="San Roque (Buluburan)">San Roque (Buluburan)</option>
                <option value="San Vicente">San Vicente</option>
                <option value="Santa Ana">Santa Ana</option>
                <option value="Santa Catalina (Sandig)">Santa Catalina (Sandig)</option>
                <option value="Santa Cruz (Putol)">Santa Cruz (Putol)</option>
                <option value="Santa Elena">Santa Elena</option>
                <option value="Santa Filomena (Banlagin)">Santa Filomena (Banlagin)</option>
                <option value="Santa Isabel">Santa Isabel</option>
                <option value="Santa Maria">Santa Maria</option>
                <option value="Santa Maria Magdalena (Boe)">Santa Maria Magdalena (Boe)</option>
                <option value="Santa Monica">Santa Monica</option>
                <option value="Santa Veronica (Bae)">Santa Veronica (Bae)</option>
                <option value="Santiago I (Bulaho)">Santiago I (Bulaho)</option>
                <option value="Santiago II">Santiago II</option>
                <option value="Santisimo Rosario">Santisimo Rosario</option>
                <option value="Santo Angel (Ilog)">Santo Angel (Ilog)</option>
                <option value="Santo Cristo">Santo Cristo</option>
                <option value="Santo Niño (Arsum)">Santo Niño (Arsum)</option>
                <option value="Soledad (Macopa)">Soledad (Macopa)</option>
              </select>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <input
                type="number"
                id="registration_contact_number"
                class="form-control"
                placeholder="09xxxxxxxxx *"
                v-model="registration_data.contact_number"
                required
              />
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <input
                type="email"
                id="registration_email"
                class="form-control"
                placeholder="Email *"
                v-model="registration_data.email"
                required
              />
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <input
                type="password"
                id="registration_password"
                class="form-control"
                placeholder="Password *"
                v-model="registration_data.password"
                required
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input
                      type="radio"
                      class="form-check-input"
                      value="male"
                      v-model="registration_data.gender"
                      name="optradio"
                    />Male
                  </label>
                </div>
                <div class="form-check-inline disabled">
                  <label class="form-check-label">
                    <input
                      type="radio"
                      class="form-check-input"
                      value="female"
                      v-model="registration_data.gender"
                      name="optradio"
                    />Female
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="row form-group" v-if="registration_data.role == 'Worker'">
            <div class="col-md-12">
              <select
                name=""
                id=""
                class="form-control"
                v-model="registration_data.job_specialty"
              >
                <option value="">Select your work specialty</option>
                <option
                  :value="job.job_category"
                  v-for="(job, index) in jobCategories"
                  :key="index"
                >
                  {{ job.job_category }}
                </option>
              </select>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label for="">Valid ID: *</label>
              <input
                type="file"
                id="registration_password"
                class="form-control"
                ref="file1"
                @change="handleUpload()"
                required
              />
            </div>
          </div>
          <div class="row form-group" v-if="registration_data.role == 'Worker'">
            <div class="col-md-12 mb-3 mb-md-0">
              <label for="">Resume:</label>
              <input
                type="file"
                id="registration_password"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="row form-group" v-if="registration_data.role == 'Worker'">
            <div class="col-md-12 mb-3 mb-md-0">
              <label for="">Barangay Clearance:</label>
              <input
                type="file"
                id="registration_password"
                class="form-control"
                required
              />
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 float-left">
              <button type="submit" class="btn btn-primary btn-block">
                Sign Up
              </button>
              <p class="text-center">
                By signing up, you agree with our
                <a href="#">terms and conditions</a> and
                <a href="#">privacy policy</a>
              </p>
            </div>
          </div>
          <br />
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      base_url: base_url,
      registration_data: {
        first_name: "",
        middle_name: "",
        last_name: "",
        contact_number: "",
        email: "",
        password: "",
        job_specialty: "",
        baranggay: "",
        gender: "",
        role: "Employer",
      },
      resume: "",
      valid_id: "",
      jobCategories: [],
    };
  },
  computed: {},
  created() {},
  mounted() {
    this.setData();
  },
  methods: {
    setData() {
      var url = base_url + "jobs/job_categories";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
        })
        .then((response) => {
          this.jobCategories = response.data.job_categories;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    handleUpload() {
      this.valid_id = this.$refs.file1.files[0];
    },
    register() {
      var url = base_url + "account/userRegistration";
      let formData = new FormData();
      formData.append(
        "registration_data",
        JSON.stringify(this.registration_data)
      );
      formData.append("valid_id", this.valid_id);
      formData.append("token", getCookie("csrf_cookie"));
      axios
        .post(url, formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((response) => {
          if (response.data.message == "success") {
            var url = base_url + "job_post";

            if (this.registration_data.role == "Worker") {
              notify2(
                "Registration Success",
                "Please wait until our admin reviewed your application.",
                "success"
              );

              setTimeout(() => {
                window.location = base_url;
              }, 2000);
            } else {
              notify2("Registration Success", "", "success");
              setTimeout(() => {
                window.location = url;
              }, 2000);
            }
          } else {
            notify2("Error", response.data.message, "error");
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>
