<template>
<footer class="site-footer">
   <div class="container">

      <div class="row pt-1 mt-1 text-center">
         <div class="col-md-12">
            <p>
               © Copyright 2021 TapHelper - All Rights Reserved
               <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
               <!-- Copyright &copy; 

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
document.write(new Date().getFullYear());
</script> All Rights Reserved </a> -->
               <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            <p>ABOUT The project entitled TapHelper was developed for household owners looking for household and maintenance workers. It allows household owners to post service offers according to their preference and needs. And allows workers or service providers to accept offers once their account is verified by the administrator and receives SMS notification if there is a posted service offer that fits to their specialty.</p>
         </div>

      </div>
   </div>
</footer>
</template>
