<template>
  <div>
    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="p-5 bg-white" v-if="userProfile.role == 'Worker'">
              <div class="img-border mb-5">
                <div class="col-md-12">
                  <h4 class="text-center">Worker Profile</h4>
                </div>
              </div>

              <hr />
              <div class="row">
                <div class="col-md-12">
                  <span class="text-danger"
                    >All fields with * are required</span
                  >
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="first_name"
                      >First name <span class="text-danger">*</span>:</label
                    >
                    <input
                      type="text"
                      id="registration_first_name"
                      name="first_name"
                      class="form-control"
                      placeholder="First Name"
                      v-model="userProfile.first_name"
                      required
                    />
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="middle_name">Middle name:</label>
                    <input
                      type="text"
                      id="registration_middle_name"
                      class="form-control"
                      placeholder="Middle Name"
                      v-model="userProfile.middle_name"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="last_name"
                      >Last name <span class="text-danger">*</span>:</label
                    >
                    <input
                      type="text"
                      id="registration_last_name"
                      class="form-control"
                      placeholder="Last Name"
                      v-model="userProfile.last_name"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="contact_number"
                      >Contact number <span class="text-danger">*</span>:</label
                    >
                    <input
                      type="number"
                      id="update_contact_number"
                      class="form-control"
                      placeholder="Contact_number"
                      v-model="userProfile.contact_number"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="email"
                      >Email Address <span class="text-danger">*</span></label
                    >
                    <input
                      type="email"
                      id="update_email"
                      class="form-control"
                      placeholder="Email"
                      v-model="userProfile.email_address"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="font-weight-bold"
                      >Gender: <span class="text-danger">*</span></label
                    >
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input
                          type="radio"
                          class="form-check-input"
                          value="male"
                          v-model="userProfile.gender"
                          name="optradio"
                        />Male
                      </label>
                    </div>
                    <div class="form-check-inline disabled">
                      <label class="form-check-label">
                        <input
                          type="radio"
                          class="form-check-input"
                          value="female"
                          v-model="userProfile.gender"
                          name="optradio"
                        />Female
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="email"
                      >Job Specialty <span class="text-danger">*</span></label
                    >
                    <select
                      name=""
                      id=""
                      class="form-control"
                      v-model="userProfile.job_specialty"
                    >
                      <option
                        v-for="(category, index) in jobCategories"
                        :key="index"
                        :value="category.job_category"
                      >
                        {{ category.job_category }}
                      </option>
                      <option value="Others">Others</option>
                    </select>
                    <input
                      type="text"
                      class="form-control mt-2"
                      v-show="userProfile.job_specialty == 'Others'"
                      v-model="other_job"
                      placeholder="Specify your job specialty"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <textarea
                    rows="7"
                    type="text"
                    id="update_email"
                    class="form-control"
                    placeholder="Introduce yourself and add a short description of your specialty"
                    v-model="userProfile.description"
                    required
                  ></textarea>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-default" @click="$refs.files.click()">
                    Upload Resume
                  </button>
                  <input
                    type="file"
                    ref="files"
                    style="display: none"
                    @change="handleResumeUpload()"
                    value="Upload Resume"
                  />
                </div>
              </div>

              <br />
              <button
                @click="updateUserData()"
                class="btn btn-success btn-block"
              >
                Update Profile
              </button>

              <br />

              <div class="embed-responsive embed-responsive-21by9">
                <br />

                <iframe
                  class="embed-responsive-item"
                  :src="current_profile.resume"
                  title
                  v-if="current_profile.resume != ''"
                ></iframe>
              </div>
            </div>

            <!-- EMPLOYER PROFILE -->

            <div class="p-5 bg-white" v-else>
              <h4 class="text-center">Household Owner Profile</h4>
              <hr />
              <div class="row">
                <div class="col-md-12">
                  <span class="text-danger"
                    >All fields with * are required</span
                  >
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="first_name"
                      >First name <span class="text-danger">*</span>:</label
                    >
                    <input
                      type="text"
                      id="registration_first_name"
                      name="first_name"
                      class="form-control"
                      placeholder="First Name"
                      v-model="userProfile.first_name"
                      required
                    />
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="middle_name">Middle name:</label>
                    <input
                      type="text"
                      id="registration_middle_name"
                      class="form-control"
                      placeholder="Middle Name"
                      v-model="userProfile.middle_name"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="last_name"
                      >Last name <span class="text-danger">*</span>:</label
                    >
                    <input
                      type="text"
                      id="registration_last_name"
                      class="form-control"
                      placeholder="Last Name"
                      v-model="userProfile.last_name"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="contact_number"
                      >Address <span class="text-danger">*</span>:</label
                    >
                    <input
                      type="text"
                      id="update_contact_number"
                      class="form-control"
                      placeholder="Address"
                      v-model="userProfile.address"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="contact_number"
                      >Contact number <span class="text-danger">*</span>:</label
                    >
                    <input
                      type="number"
                      id="update_contact_number"
                      class="form-control"
                      placeholder="Contact number"
                      v-model="userProfile.contact_number"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="email"
                      >Email Address <span class="text-danger">*</span></label
                    >
                    <input
                      type="email"
                      id="update_email"
                      class="form-control"
                      placeholder="Email"
                      v-model="userProfile.email_address"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="email">Password</label>
                    <input
                      type="text"
                      id="update_email"
                      class="form-control"
                      placeholder="Password"
                      v-model="new_password"
                    />
                  </div>
                </div>
              </div>
              <br />
              <button
                @click="updateUserData()"
                class="btn btn-success btn-block"
              >
                Update Profile
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      userIdLogged: "",
      userProfile: [],
      current_profile: {
        first_name: "",
        last_name: "",
        job_category: "",
        middle_name: "",
        gender: "",
        email_address: "",
        suffix_name: "",
        description: "",
        profile_picture: "https://via.placeholder.com/150",
        resume: "",
        role: "",
        id: "",
      },
      new_password: "",
      file: "",
      rfile: "",
      usersImage: {
        image: "",
      },
      usersResume: {
        resume: "",
      },
      base_url: "",
      jobCategories: [],
      other_job: "",
    };
  },
  computed: {},
  created() {},
  mounted() {
    this.base_url = base_url;
    this.getUserProfile();
    this.getJobCategories();
  },

  methods: {
    handleFileUpload() {
      this.usersImage.image = this.$refs.file.files[0];
    },
    submitForm() {
      confirm_alert("Profile Picture will be change", "", "info").then(
        (response) => {
          let usersImage = JSON.stringify(this.usersImage);
          let url = base_url + "user_profile/uploadProfilePic";
          this.file = this.$refs.file.files[0];
          let formData = new FormData();
          formData.append("file", this.file);
          formData.append("token", getCookie("csrf_cookie"));
          formData.append("usersImage", this.usersImage);
          axios
            .post(url, formData, {
              headers: {
                "Content-Type": "multipart/form-data",
              },
            })
            .then(function (response) {
              if (response.data.message == "success") {
                swal("Profile Picture Updated", "", "success");
                setTimeout(() => {
                  window.location.href = base_url + "user_profile";
                }, 2000);
              } else {
                swal("Your file must be PNG or JPG Format", "", "error");
              }
            })
            .catch(function (error) {
              console.log(error);
            });
        }
      );
    },

    handleResumeUpload() {
      this.usersResume.resume = this.$refs.files.files[0];
    },
    resumeForm() {
      let msg = "Your old resume will be overwrite";
      if (
        this.current_profile.resume == "" ||
        this.current_profile.resume == null
      ) {
        msg = "Are you sure you want to upload this resume?";
      }
      confirm_alert(msg, "", "info").then((response) => {
        let usersResume = JSON.stringify(this.usersResume);
        let url = base_url + "user_profile/uploadResume";
        this.rfile = this.$refs.files.files[0];
        let formData = new FormData();
        formData.append("file", this.rfile);
        formData.append("token", getCookie("csrf_cookie"));
        formData.append("usersResume", this.usersResume);
        axios
          .post(url, formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then(function (response) {
            if (response.data.message == "success") {
              swal("Resume Updated", "", "success");
              setTimeout(() => {
                window.location.href = base_url + "user_profile";
              }, 2000);
            } else {
              swal("Your file must be PDF Format", "", "error");
            }
          })
          .catch(function (error) {
            console.log(error);
          });
      });
    },
    getJobCategories() {
      var url = base_url + "jobs/job_categories";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
        })
        .then((response) => {
          this.jobCategories = response.data.job_categories;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    getUserProfile() {
      const url = `${base_url}user_profile/getAllUserData`;
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
        })
        .then((result) => {
          var tmp_user_details = result.data.users_details;
          this.userProfile = result.data.users_details;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    updateUserData() {
      if (this.other_job != "") {
        this.userProfile.job_specialty = this.other_job;
      }

      const url = `${base_url}user_profile/update_user_profile`;

      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          user_profile: this.userProfile,
          new_password: this.new_password,
        })
        .then((result) => {
          if (result.data.message == "Update Successfuly.") {
            var url = base_url;
            notify2("Update Success", "", "success");
            setTimeout(() => {
              window.location = url;
            }, 2000);
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>
