<template>
  <div class="site-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <form
            id="jobpost"
            method="POST"
            action="#"
            @submit.prevent="updateJob()"
            v-if="user_data.id == jobpost_data.worker_id"
          >
            <div class="row form-group">
              <div class="col-md-6 mb-md-0">
                <label class="font-weight-bold" for="job_title"
                  >First Name:
                </label>
                <input
                  type="text"
                  id="job_title"
                  class="form-control mt-2"
                  placeholder="eg. Delivery Man"
                  v-model="jobpost_data.first_name"
                  readonly
                />
              </div>
              <div class="col-md-6 mb-md-0">
                <label class="font-weight-bold" for="job_title"
                  >Last Name:
                </label>
                <input
                  type="text"
                  id="job_title"
                  class="form-control mt-2"
                  placeholder="eg. Delivery Man"
                  v-model="jobpost_data.last_name"
                  readonly
                />
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12 mb-md-0">
                <label class="font-weight-bold" for="job_title"
                  >Contact Number:
                </label>
                <input
                  type="text"
                  id="job_title"
                  class="form-control mt-2"
                  placeholder="eg. Delivery Man"
                  v-model="jobpost_data.contact_number"
                  readonly
                />
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12 mb-md-0">
                <label class="font-weight-bold" for="job_title"
                  >I need help on:
                </label>
                <input
                  type="text"
                  id="job_title"
                  class="form-control mt-2"
                  placeholder="eg. Delivery Man"
                  v-model="jobpost_data.job_title"
                  readonly
                />
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12 mb-md-0">
                <label class="font-weight-bold" for="location"
                  >Where will your task be?</label
                >
                <input
                  type="text"
                  id="location"
                  class="form-control mt-2"
                  placeholder="Full Address"
                  v-model="jobpost_data.address"
                  readonly
                />
              </div>
            </div>

            <div class="row form-group">
              <div class="col-8 mb-md-0">
                <label class="font-weight-bold" for="location">Offer:</label>
                <input
                  type="number"
                  id="location"
                  class="form-control"
                  placeholder="Service Fee"
                  v-model="jobpost_data.service_fee"
                  readonly
                />
              </div>
              <div class="col-4 mb-md-0">
                <label class="font-weight-bold" for="location">Rate:</label>
                <input
                  type="text"
                  id="location"
                  class="form-control"
                  v-model="jobpost_data.rate"
                  readonly
                />
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="font-weight-bold">Preferred ETA:</label>
                  <p>{{ jobpost_data.prefer_date }}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="font-weight-bold">Expires at:</label>
                  <p>{{ jobpost_data.expiry }}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="font-weight-bold"
                    >Age/Gender/etc: <span style="color: red">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    v-model="jobpost_data.gender"
                    readonly
                  />
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12 mb-md-0">
                <label class="font-weight-bold" for="description"
                  >Instructions</label
                >
                <textarea
                  type="text"
                  id="description"
                  class="form-control"
                  v-model="jobpost_data.job_description"
                  rows="7"
                  readonly
                ></textarea>
              </div>
            </div>
            <img
              :src="`${base_url + jobpost_data.image}`"
              alt=""
              v-if="jobpost_data.image != ''"
              class="img-fluid d-block mx-auto mb-2"
            />
            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0">
                <label class="font-weight-bold" for="description">Status</label>
                <select
                  name=""
                  id=""
                  class="form-control"
                  v-model="jobpost_data.status"
                >
                  <option value="Pending">Pending</option>
                  <option value="Confirmed">Confirmed</option>
                  <option value="On Process">On Process</option>
                  <option value="Completed">Completed</option>
                  <option value="Cancelled">Cancelled</option>
                </select>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <input
                  type="submit"
                  value="Update Post"
                  class="btn btn-primary py-2 px-5"
                />
              </div>
            </div>
          </form>
          <form
            id="jobpost"
            method="POST"
            action="#"
            @submit.prevent="updateJob()"
            v-else
          >
            <div class="row form-group">
              <div class="col-md-6 mb-md-0">
                <label class="font-weight-bold" for="job_title"
                  >First Name:
                </label>
                <input
                  type="text"
                  id="job_title"
                  class="form-control mt-2"
                  placeholder="eg. Delivery Man"
                  v-model="jobpost_data.first_name"
                  readonly
                />
              </div>
              <div class="col-md-6 mb-md-0">
                <label class="font-weight-bold" for="job_title"
                  >Last Name:
                </label>
                <input
                  type="text"
                  id="job_title"
                  class="form-control mt-2"
                  placeholder="eg. Delivery Man"
                  v-model="jobpost_data.last_name"
                  readonly
                />
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12 mb-md-0">
                <label class="font-weight-bold" for="job_title"
                  >Contact Number:
                </label>
                <input
                  type="text"
                  id="job_title"
                  class="form-control mt-2"
                  placeholder="eg. Delivery Man"
                  v-model="jobpost_data.contact_number"
                />
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12 mb-md-0">
                <label class="font-weight-bold" for="job_title"
                  >I need help on:
                </label>
                <input
                  type="text"
                  id="job_title"
                  class="form-control mt-2"
                  placeholder="eg. Delivery Man"
                  v-model="jobpost_data.job_title"
                  readonly
                />
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12 mb-md-0">
                <label class="font-weight-bold" for="location"
                  >Where will your task be?</label
                >
                <input
                  type="text"
                  id="location"
                  class="form-control mt-2"
                  placeholder="Full Address"
                  v-model="jobpost_data.address"
                />
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12 mb-md-0">
                <label class="font-weight-bold" for="location">Landmark</label>
                <input
                  type="text"
                  id="location"
                  class="form-control mt-2"
                  placeholder="Full Address"
                  v-model="jobpost_data.landmark"
                />
              </div>
            </div>

            <div class="row form-group">
              <div class="col-8 mb-md-0">
                <label class="font-weight-bold" for="location">Offer:</label>
                <input
                  type="number"
                  id="location"
                  class="form-control"
                  placeholder="Service Fee"
                  v-model="jobpost_data.service_fee"
                />
              </div>
              <div class="col-4 mb-md-0">
                <label class="font-weight-bold" for="location">Rate:</label>
                <input
                  type="text"
                  id="location"
                  class="form-control"
                  v-model="jobpost_data.rate"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="font-weight-bold">Preferred ETA:</label>
                  <p>{{ jobpost_data.prefer_date }}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="font-weight-bold">Expires at:</label>
                  <p>{{ jobpost_data.expiry }}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="font-weight-bold"
                    >Age/Gender/etc: <span style="color: red">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    v-model="jobpost_data.gender"
                  />
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12 mb-md-0">
                <label class="font-weight-bold" for="description"
                  >Instructions</label
                >
                <textarea
                  type="text"
                  id="description"
                  class="form-control"
                  v-model="jobpost_data.job_description"
                  rows="7"
                ></textarea>
              </div>
            </div>
            <img
              :src="`${base_url + jobpost_data.image}`"
              alt=""
              v-if="jobpost_data.image != ''"
              class="img-fluid d-block mx-auto mb-2"
            />
            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0">
                <label class="font-weight-bold" for="description">Status</label>
                <select
                  name=""
                  id=""
                  class="form-control"
                  v-model="jobpost_data.status"
                >
                  <option value="Pending">Pending</option>
                  <option value="Confirmed">Confirmed</option>
                  <option value="On Process">On Process</option>
                  <option value="Completed">Completed</option>
                  <option value="Cancelled">Cancelled</option>
                </select>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <input
                  type="submit"
                  value="Update Post"
                  class="btn btn-primary py-2 px-5"
                />
              </div>
            </div>
          </form>
        </div>

        <div class="col-lg-4">
          <div class="p-4 mb-3 bg-white">
            <h3 class="h5 text-black mb-3">Tap Helper</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad
              iure porro mollitia architecto hic consequuntur. Distinctio nisi
              perferendis dolore, ipsa consectetur
            </p>
            <p>
              <a href="#" class="btn btn-primary py-2 px-4">Learn More</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "vue-datetime/dist/vue-datetime.css";
import { Datetime } from "vue-datetime";
export default {
  components: {
    datetime: Datetime,
  },
  data() {
    return {
      user_data: [],
      base_url: base_url,
      jobpost_data: {
        job_title: "",
        area_code: "SPC",
        job_description: "",
        service_fee: "",
        expiry: "",
        landmark: "",
        age: "",
        rate: "Hourly",
        prefer_date: "",
        image: "",
      },
      file: "",
      jobCategories: [],
      item: "",
      areas: [],
      job_key: "",
      other_job: "",
    };
  },
  computed: {},
  created() {},
  mounted() {
    this.getUser();
    this.getJobCategories();
    this.getAreas();
    this.job_key = job_key;
    setTimeout(() => {
      this.getJobDetails();
    });
  },
  methods: {
    updateJob() {
      var url = base_url + "jobs/update_job";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          jobpost_data: this.jobpost_data,
        })
        .then((response) => {
          notify2("Successfully Updated", "", "success");
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    getJobDetails() {
      var url = base_url + "jobs/get_job_details";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
          job_key: job_key,
        })
        .then((response) => {
          this.jobpost_data = response.data.job_details[0];
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    getUser() {
      var url = base_url + "account/get_user";
      axios
        .post(url, {
          token: getCookie("csrf_cookie"),
        })
        .then((response) => {
          this.user_data = response.data.user_data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    getJobCategories() {
      const url = `${base_url}jobs/job_categories`;
      axios
        .get(url)
        .then((result) => {
          this.jobCategories = result.data.job_categories;
        })

        .catch(function (error) {
          console.log(error);
        });
    },
    getAreas() {
      const url = `${base_url}areas/get_areas`;
      axios
        .get(url)
        .then((result) => {
          this.areas = result.data.areas;
        })

        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>
